<app-header></app-header>
<app-form-search></app-form-search>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class='col-lg-12 my-3'>
                    <span style="font-size: 20px;"><i class="icon-user"></i> My Account</span>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="card pb-3">
                        <div class="card-body">
                            <div class='row'>
                                <div class='col-lg-12'>
                                    <app-navadmin></app-navadmin>
                                </div>
                            </div>
                            <div class='row mt-3'>
                                <div class='col-md-12 mt-3'>
                                    <div class="tabs_styled_2">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="account">Account</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab" aria-controls="shipping">Shipping address</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment">Payment Methods</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="myrxpal-coin-tab" data-toggle="tab" href="#myrxpal-coin" role="tab" aria-controls="myrxpal-coin">MyRxPal Coin</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Profile</a>
                                            </li>
                                        </ul>
                                        <!--/nav-tabs -->

                                        <div class="tab-content">

                                            <div class="tab-pane fade show active px-2 py-3" id="account" role="tabpanel" aria-labelledby="account-tab">
                                                <form [formGroup]="formAccount" (ngSubmit)="sendAccount()">
                                                    <div class="form-row mt-3">
                                                        <div class="form-group col-md-6">
                                                            <label for="first_name">First Name</label>
                                                            <input type="text" class="form-control" id="first_name" placeholder="First Name" formControlName="first_name">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="last_name">Last Name</label>
                                                            <input type="text" class="form-control" id="last_name" placeholder="Last Name" formControlName="last_name">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="email">Email</label>
                                                            <input type="email" class="form-control" id="Email" placeholder="Email" formControlName="email">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="mobile">Mobile Number</label>
                                                            <input type="text" class="form-control" id="mobile" placeholder="Mobile Number" formControlName="mobile">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <span class="text-muted" style="font-size: 12px;">If you want to change the password fill the following fields otherwise leave empty</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="current_pass">Current Password</label>
                                                            <input type="password" class="form-control" id="current_pass" placeholder="Current Password" formControlName="current_password">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="new_pass">New Password</label>
                                                            <input type="password" class="form-control" id="new_pass" placeholder="New Password" formControlName="password">
                                                        </div>
                                                    </div>
                                                    <div class="form-group text-danger" *ngIf="formAccount.get('password').errors && (formAccount.get('password').dirty || formAccount.get('password').touched)">
                                                        <div *ngIf="formAccount.get('password').hasError('repass')">Passwords no match</div>
                                                        <div *ngIf="formAccount.get('password').hasError('minlength')">Min of 9 characters</div>
                                                        <div *ngIf="formAccount.get('password').hasError('maxlength')">Max of 50 characters</div>
                                                        <div *ngIf="formAccount.get('password').hasError('pattern')">Format invalid, Must be A-Za-z-_</div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="re_pass">Retype New Password</label>
                                                            <input type="password" class="form-control" id="re_pass" placeholder="Retype New Password" formControlName="repassword">
                                                        </div>
                                                    </div>
                                                    <div class="form-group text-danger" *ngIf="formAccount.get('repassword').errors && (formAccount.get('repassword').dirty || formAccount.get('repassword').touched)">
                                                        <div *ngIf="formAccount.get('repassword').hasError('repass')">Passwords no match</div>
                                                        <div *ngIf="formAccount.get('repassword').hasError('minlength')">Min of 9 characters</div>
                                                        <div *ngIf="formAccount.get('repassword').hasError('maxlength')">Max of 50 characters</div>
                                                        <div *ngIf="formAccount.get('repassword').hasError('pattern')">Format invalid, Must be A-Za-z-_</div>
                                                    </div>
                                                    <div class="form-row">
                                                        <button type="submit" class="btn btn-success" [disabled]="formAccount.invalid">Save Changes</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- /tab_1 -->

                                            <div class="tab-pane fade px-2 py-3" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
                                                <div class='row'>
                                                    <div class='col-md-12' *ngIf="!address">
                                                        There are no shipping addresses associated to yuor account
                                                    </div>
                                                    <div class='col-md-12' *ngIf="address">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">#</th>
                                                                    <th scope="col">Address Type</th>
                                                                    <th scope="col">Street 1</th>
                                                                    <th scope="col">Street 2</th>
                                                                    <th scope="col">City</th>
                                                                    <th scope="col">State</th>
                                                                    <th scope="col">Zip_code</th>
                                                                    <th scope="col">Status</th>
                                                                    <th scope="col">Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let addressData of userData.address; let i=index">
                                                                    <th scope="row">{{i+1}}</th>
                                                                    <td>{{addressData.address_type}}</td>
                                                                    <td>{{addressData.street1}}</td>
                                                                    <td>{{addressData.street2}}</td>
                                                                    <td>{{addressData.city}}</td>
                                                                    <td>{{addressData.state}}</td>
                                                                    <td>{{addressData.zip_code}}</td>
                                                                    <td>
                                                                        <span class="badge badge-success" *ngIf="addressData.status==1">Default</span>
                                                                        <span class="badge badge-secondary" *ngIf="addressData.status==0">Disabled</span>
                                                                    </td>
                                                                    <td>
                                                                        <button class="btn btn-sm btn-success mr-1" *ngIf="addressData.status==0" data-toggle="tooltip" data-placement="top" title="Default shipping address" (click)="changeStatus(addressData,1)"><i class="icon-ok"></i></button>
                                                                        <button class="btn btn-sm btn-success mr-1 disabled" disabled *ngIf="addressData.status==1" data-toggle="tooltip" data-placement="top" title="Default shipping address"><i class="icon-ok"></i></button>
                                                                        <button class="btn btn-sm btn-secondary mr-1 disabled" *ngIf="addressData.status==1" data-toggle="tooltip" data-placement="top" title="Remove" disabled><i class="icon-trash"></i></button>
                                                                        <button class="btn btn-sm btn-secondary mr-1" *ngIf="addressData.status==0" data-toggle="tooltip" data-placement="top" title="Remove" (click)="changeStatus(addressData,2)"><i class="icon-trash"></i></button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <button class="btn btn-info mt-3" data-toggle="modal" data-target="#modalAddShipping">Add shiping address</button>
                                            </div>
                                            <!-- /tab_2 -->

                                            <div class="tab-pane fade px-2 py-3" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                                                <div class="card">
                                                    <div class="card-header bg-secondary text-light">
                                                        Payment Methods
                                                    </div>
                                                    <div class="card-body mb-3" *ngIf="!pay_methods">
                                                        <div class='row my-3'>
                                                            <div class='col-md-4'>
                                                                It has no registered cards
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body mb-3" *ngIf="pay_methods">
                                                        <div class='row my-3' *ngFor="let pay_method of userData.pay_methods">
                                                            <div class='col-md-4'>
                                                                <img *ngIf="pay_method.data.brand=='Visa'" src="https://js.stripe.com/v3/fingerprinted/img/visa-365725566f9578a9589553aa9296d178.svg" class="mr-2">
                                                                <img *ngIf="pay_method.data.brand=='MasterCard'" src="https://js.stripe.com/v3/fingerprinted/img/mastercard-4d8844094130711885b5e41b28c9848f.svg" class="mr-2">
                                                                <img *ngIf="pay_method.data.brand=='American Express'" src="https://js.stripe.com/v3/fingerprinted/img/amex-a49b82f46c5cd6a96a6e418a6ca1717c.svg" class="mr-2">
                                                                <img *ngIf="pay_method.data.brand=='Discover'" src="https://js.stripe.com/v3/fingerprinted/img/discover-ac52cd46f89fa40a29a0bfb954e33173.svg" class="mr-2">
                                                                <img *ngIf="pay_method.data.brand=='Diners Club'" src="https://js.stripe.com/v3/fingerprinted/img/diners-fbcbd3360f8e3f629cdaa80e93abdb8b.svg" class="mr-2">
                                                                <img *ngIf="pay_method.data.brand=='JCB'" src="https://js.stripe.com/v3/fingerprinted/img/jcb-271fd06e6e7a2c52692ffa91a95fb64f.svg" class="mr-2">
                                                                <img *ngIf="pay_method.data.brand=='UnionPay'" src="https://js.stripe.com/v3/fingerprinted/img/unionpay-8a10aefc7295216c338ba4e1224627a1.svg" class="mr-2"> {{pay_method.data.brand}}
                                                            </div>
                                                            <div class='col-md-4'>
                                                                ****-{{pay_method.data.last4}}
                                                            </div>
                                                            <div class='col-md-4'>
                                                                <button class="btn btn-sm btn-outline-secondary mr-2" (click)="deleteCard(pay_method)"><i class="icon-trash"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header bg-secondary text-light">
                                                        Add a New Card
                                                    </div>

                                                    <div class="card-body mb-3">
                                                        <form novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
                                                            <div class='row'>
                                                                <div class='col-md-6'>
                                                                    <div class='form-group'>
                                                                        <label for='name'>Cardholder Full Name</label>
                                                                        <input class="form-control" type="text" formControlName="name" placeholder="Jane Doe">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class='row my-1'>
                                                                <div class='col-md-6'>
                                                                    <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
                                                                </div>
                                                            </div>
                                                            <div class='row'>
                                                                <div class='col-md-6'>
                                                                    <button class="btn btn-success" type="submit">
																		Add
																 	</button>
                                                                </div>
                                                            </div>

                                                        </form>
                                                        <!--<div class="form-row">
															<div class="form-group col-md-6">
															  <label for="full_name">Cardholder Full Name</label>
															  <input type="text" class="form-control" id="full_name" placeholder="Cardholder Full Name">
															</div>
														</div>
														<div class="form-row ">
															<div class="form-group col-md-6">
																<div class="input-group mb-3">
																	<input type="text" class="form-control" placeholder="1234 1234 1234 1234" aria-label="Recipient's username" aria-describedby="basic-addon2">
																	<div class="input-group-append">
																		<span class="input-group-text" id="basic-addon2">
																			<img class="mr-1" src="https://js.stripe.com/v3/fingerprinted/img/mastercard-4d8844094130711885b5e41b28c9848f.svg">
																			<img src="https://js.stripe.com/v3/fingerprinted/img/visa-365725566f9578a9589553aa9296d178.svg">
																		</span>
																	</div>
																	<div class="input-group">
																		<input type="text" class="form-control" placeholder="MM / AA" aria-label="Recipient's username" aria-describedby="basic-addon2">
																		<div class="input-group-append">
																				<div class="input-group">
																					<input type="text" class="form-control" placeholder="CVC" aria-label="Recipient's username" aria-describedby="basic-addon2">
																				</div>
																		</div>
																		</div>
																</div>
															</div>
														</div>
														<div class="form-row">
															<div class="form-group col-md-6">
															  <label for="postal_code">Postal Code</label>
															  <input type="text" class="form-control" id="postal_code" placeholder="Postal Code">
															</div>
														</div>-->
                                                        <div class="form-row d-none">
                                                            <div class="form-group col-md-6">
                                                                <button class="btn btn-success">Add</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /tab_3 -->

                                            <div class="tab-pane fade px-2 py-3" id="myrxpal-coin" role="tabpanel" aria-labelledby="myrxpal-coin-tab">
                                                <div class='row mb-3 p-3'>
                                                    <div class='col-md-6 font-weight-bold'>
                                                        MyRxPal Coin
                                                    </div>
                                                    <div class='col-md-6 text-right font-weight-bold'>
                                                        Balance: ${{myCoins.balance | number: '1.2-2'}}
                                                    </div>
                                                </div>

                                                <div class='row '>
                                                    <div class='col-md-12'>
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col" style="width: 40%;">Description</th>
                                                                    <!-- <th scope="col" style="width: 20%;">Issuance</th> -->
                                                                    <!-- <th scope="col" style="width: 20%;">Expiration</th> -->
                                                                    <th scope="col" style="width: 20%;">Remaining</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let coin of myCoins.ucoins">
                                                                    <th scope="row">{{coin.description}}</th>
                                                                    <!-- <td>01/22/2017</td>
                                                                    <td></td> -->
                                                                    <td>${{coin.amts | number: '1.2-2'}}</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /tab_4 -->

                                            <div class="tab-pane fade px-2 py-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                                <form [formGroup]="formProfile" (ngSubmit)="sendProfile()">
                                                    <div class='row'>
                                                        <div class='col-md-12 mb-2'>
                                                            <h6>Preferences</h6>
                                                        </div>
                                                        <div class='col-md-12 px-4'>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="gender">Gender Identity</label>
                                                                    <select id="gender" class="form-control" formControlName="gender">
																	<option selected value="Male">Male</option>
																	<option value="Female">Female</option>
																	<option value="Other">Other</option>
																</select>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="birth">Birth Date</label>
                                                                    <input type="date" class="form-control" id="birth" formControlName="birth_day">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 mb-2">
                                                                    My Locations
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control" id="location" placeholder="Add a location" formControlName="location">
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="type" id="type1" value="Home" formControlName="type" checked>
                                                                        <label class="form-check-label" for="type1">
																		Home
																		</label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-md-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="type" id="type2" value="Work" formControlName="type">
                                                                        <label class="form-check-label" for="type2">
																		Work
																		</label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-md-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="type" id="type3" value="Favorite" formControlName="type">
                                                                        <label class="form-check-label" for="type3">
																		Favorite
																		</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class='row'>
                                                                <div class='col-md-6'>
                                                                    <button class="btn btn-success" type="submit" [disabled]="formProfile.invalid">Add</button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                            <!-- /tab_5 -->
                                        </div>
                                        <!-- /tab-content -->
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /content-left-->
    </div>
    <!-- /row-->
</div>
<!-- /ontainer-fluid -->
<app-addshipping (result)="getResult($event)" [idUser]="idUser"></app-addshipping>