<app-header></app-header>
<main>
    <div class="bg_color_2">
        <div class="container margin_60_35">
            <div id="login">
                <h1 style="color:#fff !important;">
                    Forgot your password?
                </h1>
                <div class="box_form">
                    <div class="mb-3">
                        Please enter the username associated with your account. We'll send you link to resetyour password
                    </div>
                    <form [formGroup]="formForgot" (ngSubmit)="forgot()">
                        <div class="form-group">
                            <label for="email">Username</label>
                            <input type="text" class="form-control" placeholder="Your email address" formControlName="email">
                            <!-- <input type="text" class="form-control" placeholder="Your email address or mobile number" > -->
                        </div>
                        <div class="form-group text-danger" *ngIf="formForgot.get('email').errors && (formForgot.get('email').dirty || formForgot.get('email').touched)">
                            <div *ngIf="formForgot.get('email').hasError('required')">Field is required</div>
                            <div *ngIf="formForgot.get('email').hasError('pattern')">Invalid email</div>
                        </div>
                        <div class="form-group text-center add_top_20">
                            <div class='row'>
                                <div class='col-lg-6'>
                                    <button type="submit" class="btn_1 btn-md" [disabled]="formForgot.invalid">Send Link</button>
                                </div>
                                <div class='col-lg-6'>
                                    <a class="btn_1 btn-md" [routerLink]="['/login']">Nevermind</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <p class="text-center link_bright" style="margin-bottom: 5px;"><a [routerLink]="['/login']"><strong>Sign in!</strong></a></p>
                <p class="text-center link_bright"><a [routerLink]="['/register']"><strong>Register now!</strong></a></p>
            </div>
            <!-- /login -->
        </div>
    </div>
</main>
<!-- /main -->
<app-footer></app-footer>