<div id="section_2" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="box_general_3">
        <div class="reviews-container">
            <div class="row">
                <div class="col-lg-3">
                    <div id="review_summary">
                        <strong>4.7</strong>
                        <div class="rating">
                            <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
                        </div>
                        <small>Based on 4 reviews</small>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class='col-lg-12 col-12'>
                            Effectiveness
                        </div>
                        <div class="col-lg-10 col-9">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-3"><small><strong>5 stars</strong></small></div>
                    </div>
                    <!-- /row -->
                    <div class="row">
                        <div class='col-lg-12 col-12'>
                            Ease of Use
                        </div>
                        <div class="col-lg-10 col-9">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-3"><small><strong>4 stars</strong></small></div>
                    </div>
                    <!-- /row -->
                    <div class="row">
                        <div class='col-lg-12 col-12'>
                            Satisfaction
                        </div>
                        <div class="col-lg-10 col-9">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-3"><small><strong>3 stars</strong></small></div>
                    </div>
                    <!-- /row -->
                    <div class="row">
                        <div class='col-lg-12 col-12'>
                            Overall, I have been satisfied with my experience
                        </div>
                        <div class="col-lg-12 col-12 mt-1">
                            <span class="mr-2"><i class="fa fa-thumbs-up mr-1"></i>3</span>
                            <span class="mr-2"><i class="fa fa-thumbs-down mr-1"></i>1</span>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- End review-container -->
    </div>
</div>
<!-- /section_2 -->