<footer>
    <div class="container margin_60_35">
        <div class="row">
        <div class="col-lg-3 col-md-12">
            <p>
            <a [routerLink]="['/']"  title="MyRxPal Pharmacy Locator">
                <img src="assets/img/logo.png" data-retina="true" alt="" width="163" height="36" class="img-fluid">
            </a>
            </p>
        </div>
        <div class="col-lg-3 col-md-4">
            <h5>Patients</h5>
            <ul class="links">
            <li><a href="https://business.myrxpal.com">Home</a></li>
            <li><a href="https://consumer.myrxpal.com">Find a pharmacy</a></li>
            <li><a href="https://business.myrxpal.com/main/privacy#privacy">Privacy Policy</a></li>
            <li><a href="https://business.myrxpal.com/main/about">About us</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-4">
            <h5>For Pharmacies</h5>
            <ul class="links">
            <li><a href="https://business.myrxpal.com/user">Sign In</a></li>
            <li><a href="https://business.myrxpal.com/#product-sec">Solutions</a></li>
            <li><a href="https://business.myrxpal.com/main/about">Company</a></li>
            <li><a href="https://old.myrxpal.com/coupons/manufacture">Manufacture login</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-4">
            <!-- <h5>Contact with Us</h5>
            <ul class="contacts">
            <li><a href="tel://61280932400"><i class="icon_mobile"></i> + 61 23 8093 3400</a></li>
            <li><a href="mailto:info@findoctor.com"><i class="icon_mail_alt"></i> help@findoctor.com</a></li>
            </ul>-->
            <div class="follow_us">
            <h5>Connect</h5>
            <ul>
                <li><a href="https://www.facebook.com/Myrxpal-789407001401714" target="_blank"><i class="icon-facebook-squared"></i></a></li>
                <li><a href="https://twitter.com/myrxpal " target="_blank"><i class="icon-twitter"></i></a></li>
                <!--<li><a [routerLink]="['/']"><i class="fab fa-instagram"></i></a></li>
                <li><a [routerLink]="['/']"><i class="fab fa-youtube"></i></a></li>-->
            </ul>
            </div>
            <div class="row" id="here">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <p style="line-height:15px; font-size: 12px; font-style:italic;">MyRxPal is not sponsored by or affiliated with any of the pharmacies identified in its pharmacy locator, deals, coupons or medication pricing tools. All trademarks, brands, logos and copyright images are property of their respective owners and rights holders. Trademarks, brands, logos, and copyright images are used to represent the products or services of right holders or thier  respective owners. This information is for informational purposes only and is not meant to be a substitute for professional medical advice, diagnosis or treatment. MyRxPal is not offering advice, recommending or endorsing any specific prescription drug, pharmacy or other information on the site. MyRxPal provides no warranty for any of the pricing data or other information. Please seek medical advice before starting, changing or terminating any medical treatment.</p>
            <p style="line-height:15px; font-size: 12px; font-style:italic;">MyRxPal works to make its website accessible to all, including those with disabilities. If you are having difficulty accessing this website, please email us at customercare@myrxpal.com so that we can provide you with the services you require through alternative means.</p>
        </div>
        </div>
        <!--/row-->
        <hr>
        <div class="row">
        <div class="col-md-8">
            <ul id="additional_links">
            <li><a href="https://business.myrxpal.com/main/privacy#terms">Terms and conditions</a></li>
            <li><a href="https://business.myrxpal.com/main/privacy#privacy">Privacy</a></li>
            <li><a href="#" data-toggle="modal" data-target="#helpModal">Help</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div id="copy">© 2020 MyRxPal</div>
        </div>
        </div>
    </div>
</footer>