<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-rose">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Filter Search</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <span class="font-weight-bold">Distance</span>
                    </div>
                    <div class="col-md-2 mt-2" *ngFor="let distance of distances">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="distance" id="distance{{distance.id}}" [(ngModel)]="valueDistance" (ngModelChange)="changedFilter()" [value]="distance.distance">
                            <label class="form-check-label" for="distance{{distance.id}}">
                            {{distance.title}}
                          </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-4">
                        <span class="font-weight-bold">Pharmacy Types</span>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mt-2" *ngFor="let pharmacyType of pharmacyTypes">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="pharmacyType" id="pharmacyType{{pharmacyType.id}}" [value]="pharmacyType.title" [(ngModel)]="valuePTypes" (ngModelChange)="changedFilter()">
                            <label class="form-check-label" for="pharmacyType{{pharmacyType.id}}">
                              {{pharmacyType.title}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-4">
                        <span class="font-weight-bold">Date range</span>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mt-2">
                        <div class="form-group">
                            <label for="date1">
                              From
                            </label>
                            <input class="form-control" type="date" name="date1" id="date1" [ngModel]='date1 | date:"yyyy-MM-dd"' (ngModelChange)="date1=$event;changedFilter()">
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mt-2">
                        <div class="form-group">
                            <label for="date2">
                              Until
                            </label>
                            <input class="form-control" type="date" name="date2" id="date2" [ngModel]="date2 | date:'yyyy-MM-dd'" (ngModelChange)="date2=$event;changedFilter()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" #cancel (click)="closeModal()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="resetForm();">Reset</button>
                <button type="button" class="btn bg-rose text-white" (click)="sendFilter();">Apply</button>
            </div>
        </div>
    </div>
</div>
