.text-rose{
    color: #e74e84 !important;
}

a {
    text-decoration:none;
}

ul#top_access li i {
    font-size: 1rem !important;
}

ul#top_access li a {
    color: #000;
}

.dropdown-menu{
    position: absolute;
    transform: translate3d(0px, 35px, 0px) !important;
    top: 0px;
    left: 0px;
    will-change: transform;
}