<header id="header" class="header_sticky">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div id="logo_home">
                    <h1><a [routerLink]="['/']" title="MyRxPal">MyRxPal</a></h1>
                </div>
            </div>
            <nav class="col-lg-9 col-6">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close"><span>Menu mobile</span></a>
                <ul id="top_access">
                    <li *ngIf="!isLog" data-toggle="tooltip" data-placement="bottom" title="Sign In"><a class="btn btn-rose text-light" [routerLink]="['/login']">Sign In</a></li>
                    <li *ngIf="isLog" data-toggle="tooltip" data-placement="bottom" title="Shopping Cart"><a class="btn btn-link" [routerLink]="['/pay']"><i class="icon-cart"></i> <span class="badge badge-danger" *ngIf="items>0">{{items}}</span></a></li>
                    <li *ngIf="isLog">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle mr-lg-2" style="cursor: pointer" id="messagesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="text-dark icon-user"></i>
                                    <span class="text-dark">My Account</span>

                                </a>
                                <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                                    <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/dashboard']">
                                        <i class=" icon-tag-2"></i> My Certificates
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/reviews']">
                                        <i class=" icon-vcard"></i> My Reviews
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/wishlist']">
                                        <i class=" icon-heart-7"></i> My Wishlist
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/account']">
                   Account
                 </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/account']">
                   Profile
                 </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" style="cursor: pointer" data-toggle="modal" data-target="#changePassword">
                   Change Password
                 </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" (click)="logout()" style="cursor: pointer">
                                        <i class=" icon-logout"></i>Logout
                                    </a>
                                </div>
                            </li>

                        </ul>
                    </li>
                    <!--<li data-toggle="tooltip" data-placement="bottom" title="Register" ><a  [routerLink]="['/register']"><i class="pe-7s-add-user"></i></a></li>-->
                </ul>
                <div class="main-menu">
                    <ul class="">
                        <li class="submenu">
                            <a href="https://consumer.myrxpal.com">Pharmacies</a>
                        </li>
                        <li class="submenu d-none">
                            <a href="https://deals.myrxpal.com" target="_self" class="show-submenu">Deals</a>
                        </li>
                        <li class="submenu">
                            <a href="https://coupons.myrxpal.com" target="_self" class="show-submenu">Coupons</a>
                        </li>
                        <li class="submenu">
                            <a [routerLink]="['/']" class="text-rose show-submenu" target="_self">Medications</a>
                        </li>
                        <li class="d-none"><a href="https://business.myrxpal.com/user"><span style="background-color: #e74e84; padding:5px; color:white;">Healthcare Professional?</span></a></li>
                    </ul>
                </div>
                <!-- /main-menu -->
            </nav>
        </div>
    </div>
    <!-- /container -->
</header>
<!-- /header -->