<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="formSearchR" (ngSubmit)="getSearch()">
                <div class="search_bar_wrapper row">
                    <div class="search_bar_list col-lg-6 offset-lg-3">
                        <input type="text" class="form-control" placeholder="Type your drug name" formControlName="search" (keyup)="setValue()" (keydown)="keyDown($event)">
                        <app-autocomplete [value]="value" (setItem)="setSearch($event)" [keyPress]="keyCode"></app-autocomplete>
                        <i class="icon-location icon"></i>
                        <input type="text" class="form-control input-icon" placeholder="Location" #addresstext formControlName="autocomplete">
                        <input type="submit" value="FIND THE LOWEST PRICE">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>