<app-header></app-header>
<app-form-search></app-form-search>
<div class="container">
    <div class="row">
		<div class="col-lg-12">
			<div class="row">
                <div class='col-lg-12 my-3'>
                    <span style="font-size: 20px;"><i class="icon-user"></i> My Account</span>
                </div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
					<div class="card pb-3">
						<div class="card-body">
							<div class='row'>
                               <div class='col-lg-12'>
                                   <app-navadmin></app-navadmin>
                               </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /content-left-->		
	</div>
	<!-- /row-->
</div>

<!-- /container-fluid -->
 
  
