<app-header></app-header>
<app-form-search></app-form-search>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class='col-lg-12 my-3'>
                    <span style="font-size: 20px;"><i class="icon-user"></i> My Account</span>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="card pb-3">
                        <div class="card-body">
                            <div class='row'>
                                <div class='col-lg-12'>
                                    <app-navadmin></app-navadmin>
                                </div>
                                <div class='offset-md-8 col-md-4 mt-3'>
                                    <div class="form-group row">
                                        <label for="select" class="col-sm-3 col-form-label pt-3">
									  Sort By
									</label>
                                        <div class="col-sm-9">
                                            <div>&nbsp;</div>
                                            <ul>
                                                <li class="active"><a href="javascript:void(0)">Date Added</a></li>
                                                <li><a href="javascript:void(0)">Expiration Date</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-12'>
                                    <div class='row mb-2'>
                                        <div class='col-md-6'>
                                            Item
                                        </div>
                                        <div class='col-md-3'>
                                            Unit Price
                                        </div>
                                        <div class='col-md-3'>

                                        </div>
                                    </div>
                                    <div class='row' *ngFor="let wishlist of myWishlist; let i =  index;">
                                        <div class='col-md-6'>
                                            <div class='row'>
                                                <!-- 												<div class='col-md-3'>
												<img src="http://placeimg.com/640/480/any" style="width: 100%;">
												</div> -->
                                                <div class='col-md-12 text-primary'>
                                                    <h6 class="text-primary">{{wishlist.pharmacy_name}} </h6>
                                                    <p>{{wishlist.drug_name | uppercase}} {{wishlist.dosage}} {{wishlist.quantity}} {{wishlist.strength}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-md-3'>
                                            <!-- <span style="text-decoration: line-through;" class="mr-2">${{wishlist.price | number:'1.2-2'}}</span> --><span class="text-success">${{wishlist.price | number:'1.2-2'}}</span>
                                        </div>
                                        <div class='col-md-3'>
                                            <button class="btn btn-sm btn-outline-secondary mr-2" (click)="addCart(wishlist)">Add to Cart</button>
                                            <button class="btn btn-sm btn-outline-secondary mr-2" (click)="removeMyWishlist(wishlist.id, i)">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /content-left-->
    </div>
    <!-- /row-->
</div>

<!-- /container-fluid -->