<!-- Navigation
  <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top" id="mainNav">
  <a class="navbar-brand" [routerLink]="['']" ><img src="assets/img/logo.png" data-retina="true" alt="" width="163" height="36"></a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-dark"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav bg-default" id="exampleAccordion">
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active" >
          <i class=" icon-gauge-2"></i>
          <span class="nav-link-text">Dashboard</span>
        </a>
      </li>        
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/wishlist']" routerLinkActive="active" >
          <i class="icon-heart"></i>
          <span class="nav-link-text">My Wishlist</span>
        </a>
      </li>  
    </ul>
    <ul class="navbar-nav sidenav-toggler bg-default">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          &nbsp;
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-lg-2" style="cursor: pointer" id="messagesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="text-dark icon-user"></i>
          <span class="text-dark">My Account</span>
          
        </a>
        <div class="dropdown-menu" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/dashboard']" >
            <i class=" icon-tag-2"></i> My Certificates
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/dashboard']" >
            <i class=" icon-vcard"></i> My Reviews
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/wishlist']" >
            <i class=" icon-heart-7"></i> My whislist
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/dashboard']" >
            Account
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/dashboard']" >
            Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/dashboard']" >
            Users
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="cursor: pointer" data-toggle="modal" data-target="#changePassword">
            Change Password
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" style="cursor: pointer" >
            <i class=" icon-logout"></i>Logout
          </a>
        </div>
      </li>
     
    </ul>
  </div>
</nav>
 /Navigation-->

 <ul class="nav nav-tabs">
  <li class="nav-item">
  <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active" >My Certificates</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" [routerLink]="['/reviews']" routerLinkActive="active">My Reviews</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" [routerLink]="['/wishlist']" routerLinkActive="active" >My Wishlist</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" [routerLink]="['/account']" routerLinkActive="active">Account</a>
  </li>
</ul>