<app-header></app-header>
<main>
    <div class="bg_color_2">
        <div class="container margin_60_35">
            <div id="login">
                <h1 style="color:#fff !important;">
                    Reset Password
                </h1>
                <div class="box_form">
                    <div class="mb-3">
                        Enter the new password
                    </div>
                    <form [formGroup]="formReset" (ngSubmit)="reset()">
                        <div class="form-group">
                            <label for="email">New Paswword</label>
                            <input type="password" class="form-control" placeholder="New Password" formControlName="password">
                        </div>
                        <div class="form-group text-danger" *ngIf="formReset.get('password').errors && (formReset.get('password').dirty || formReset.get('password').touched)">
                            <div *ngIf="formReset.get('password').hasError('required')">Field is required</div>
                            <div *ngIf="formReset.get('password').hasError('minlength')">Min of 9 characters</div>
                            <div *ngIf="formReset.get('password').hasError('maxlength')">Max of 50 characters</div>
                            <div *ngIf="formReset.get('password').hasError('pattern')">Format invalid, Must be A-Za-z0-9_-</div>
                        </div>
                        <div class="form-group">
                            <label for="email">Confirm Paswword</label>
                            <input type="password" class="form-control" placeholder="Confirm Password" formControlName="repassword">
                        </div>
                        <div class="form-group text-danger" *ngIf="formReset.get('repassword').errors && (formReset.get('repassword').dirty || formReset.get('repassword').touched)">
                            <div *ngIf="formReset.get('repassword').hasError('required')">Field is required</div>
                            <div *ngIf="formReset.get('repassword').hasError('minlength')">Min of 9 characters</div>
                            <div *ngIf="formReset.get('repassword').hasError('maxlength')">Max of 50 characters</div>
                            <div *ngIf="formReset.get('repassword').hasError('pattern')">Format invalid, Must be A-Za-z0-9_-</div>
                            <div *ngIf="formReset.get('repassword').hasError('repass')">Passwords no match</div>
                        </div>
                        <div class="form-group text-danger" *ngIf="formReset.errors && !formReset.get('repassword').errors && (formReset.get('repassword').dirty || formReset.get('repassword').touched)">
                            <div *ngIf="formReset.hasError('repass')">Passwords no match</div>
                        </div>
                        <div class="form-group text-center add_top_20">
                            <div class='row'>
                                <div class='col-lg-12'>
                                    <button class="btn_1 btn-md" type="submit" [disabled]="formReset.invalid">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /login -->
        </div>
    </div>
</main>
<!-- /main -->
<app-footer></app-footer>