<!-- Modal -->
<div class="modal fade" id="modalGetPrice" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Get Price Quote</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="">
          <div class="modal-body">
            <div class='row'>
               <div class='col-md-12 mb-2'>
                  <span class="text-muted">Don’t see a price published by "Pharmacy name example"? Please fill out this form and the pharmacy will contact you directly with a price quote</span>
               </div>
            </div>
            <div class='form-row'>
               <div class='form-group col-md-12'>
                  <label for='name'>Customer Name</label>
                  <input type='text' class='form-control' placeholder=''>
               </div>
            </div>
            <div class='form-row'>
              <div class='form-group col-md-12'>
                 <label for='email'>Customer Email</label>
                 <input type='text' class='form-control' placeholder=''>
              </div>
            </div>
            <div class='form-row'>
              <div class='form-group col-md-12'>
                 <label for='phone'>Customer Phone Number</label>
                 <input type='text' class='form-control' placeholder=''>
              </div>
            </div>
            <div class='form-row'>
              <div class='form-group col-md-12'>
                 <label for='drug'>Drug Name & strength</label>
                 <input type='text' class='form-control' placeholder=''>
              </div>
            </div>
            <div class='form-row'>
              <div class='form-group col-md-12'>
                 <label for='quantity'>Input Quantity</label>
                 <input type='number' class='form-control' placeholder=''>
              </div>
            </div>
            <div class='form-row'>
              <div class='form-group col-md-12'>
                 <label for='quantity'>Input Needed By</label>
                 <select class="form-control">
                   <option value="">Select</option>
                   <option value="Immediately">Immediately</option>
                   <option value="Within 3 Days">Within 3 Days</option>
                   <option value="Within 7 Days">Within 7 Days</option>
                   <option value="Just Looking Around">Just Looking Around</option>
                 </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>