<!-- Modal -->
<div class="modal fade" id="modalAddReview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Review</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="getReset()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <app-review [reset]="reset" [label]="'Condition'" [types]="true" (value)="setValue($event, formReview.get('t_condition'))"></app-review>
                <app-review [reset]="reset" [label]="'Treatment length'" [types]="true" [valor]="'Less than 1 month'" (value)="setValue($event, formReview.get('length'))"></app-review>
                <app-review [reset]="reset" [label]="'Effectiveness'" (value)="setValue($event, formReview.get('effectiveness'))"></app-review>
                <app-review [reset]="reset" [label]="'Ease of Use'" (value)="setValue($event, formReview.get('easy_use'))"></app-review>
                <app-review [reset]="reset" [label]="'Satisfaction'" (value)="setValue($event, formReview.get('satisfaction'))"></app-review>
                <app-review [reset]="reset" [label]="'Overall, I have been satisfied with my experience'" [types]="true" (value)="setValue($event, formReview.get('overall'))"></app-review>
                <app-review [reset]="reset" [label]="'Comments'" [types]="true" (value)="setValue($event, formReview.get('comments'))"></app-review>
                <app-review [reset]="reset" [label]="'Did your insurance cover this drug?'" [types]="true" (value)="setValue($event, formReview.get('insurance'))"></app-review>
                <app-review [reset]="reset" [label]="'Strength purchased'" [types]="true" (value)="setValue($event, formReview.get('strength'))"></app-review>
                <app-review [reset]="reset" [label]="'Quantity purchased'" [types]="true" (value)="setValue($event, formReview.get('quantity'))"></app-review>
                <app-review [reset]="reset" [label]="'Approximate out of pocket monthly cost'" [types]="true" (value)="setValue($event, formReview.get('cost'))"></app-review>
                <div class='row'>
                    <div class='col-md-12'>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkTerm" name="tc" [(ngModel)]="tc">
                            <label class="form-check-label" for="checkTerm"> I have read and agree to abide by the MyRxPal Terms and Conditions and MyRxPal Privacy Policy.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal" (click)="getReset()">Cancel</button>
                <button type="button" class="btn btn-primary" [disabled]="formReview.invalid || !tc" (click)="submit()">Submit</button>
            </div>
        </div>
    </div>
</div>