<div class='row'>
    <div class='col-md-6 pt-3'>
        {{label}}
    </div>
    <div class='col-md-6' *ngIf="!types">
        <div class="rate">
            <input type="radio" id="star5{{id}}" name="rate{{id}}" [(ngModel)]="valor" value="5" [disabled]="disabled" (click)="setValue()" />
            <label for="star5{{id}}" title="5 Stars">5 stars</label>
            <input type="radio" id="star4{{id}}" name="rate{{id}}" [(ngModel)]="valor" value="4" [disabled]="disabled" (click)="setValue()" />
            <label for="star4{{id}}" title="4 Stars">4 stars</label>
            <input type="radio" id="star3{{id}}" name="rate{{id}}" [(ngModel)]="valor" value="3" [disabled]="disabled" (click)="setValue()" />
            <label for="star3{{id}}" title="3 Stars">3 stars</label>
            <input type="radio" id="star2{{id}}" name="rate{{id}}" [(ngModel)]="valor" value="2" [disabled]="disabled" (click)="setValue()" />
            <label for="star2{{id}}" title="2 Stars">2 stars</label>
            <input type="radio" id="star1{{id}}" name="rate{{id}}" [(ngModel)]="valor" value="1" [disabled]="disabled" (click)="setValue()" />
            <label for="star1{{id}}" title="1 Star">1 star</label>
        </div>
    </div>
    <div class='col-md-6 pl-3 pt-3' *ngIf="types && label=='Overall, I have been satisfied with my experience'">
        <select class="form-control" name="rate{{id}}" [(ngModel)]="valor" id="star1{{id}}" [disabled]="disabled" (change)="setValue()">
         <option value="Yes">Yes</option>
         <option value="No">No</option>
      </select>
    </div>
    <div class='col-md-6 pl-3 pt-3' *ngIf="types && label=='Condition'">
        <input class="form-control" type="text" id="star1{{id}}" name="rate{{id}}" [(ngModel)]="valor" [disabled]="disabled" (keyup)="setValue()" />
    </div>
    <div class='col-md-6 pl-3 pt-3' *ngIf="types && label=='Treatment length'">
        <select class="form-control" name="rate{{id}}" id="star1{{id}}" [(ngModel)]="valor" [disabled]="disabled" (change)="setValue()">
         <option value="Less than 1 month">Less than 1 month</option>
         <option value="1 to 6 months">1 to 6 months</option>
         <option value="6 months to 1 year">6 months to 1 year</option>
         <option value="1 to 2 years">1 to 2 years</option>
         <option value="2 to 5 years">2 to 5 years</option>
         <option value="5 to 10 years">5 to 10 years</option>
         <option value="10 years or more">10 years or more</option>
      </select>
    </div>
    <div class='col-md-6 pl-3 pt-3' *ngIf="types && label=='Comments'">
        <textarea class="form-control" type="text" id="star1{{id}}" name="rate{{id}}" [(ngModel)]="valor" [disabled]="disabled" (keyup)="setValue()"></textarea>
    </div>
    <div class='col-md-6 pl-3 pt-3' *ngIf="types && label=='Did your insurance cover this drug?'">
        <select class="form-control" name="rate{{id}}" [(ngModel)]="valor" id="star1{{id}}" [disabled]="disabled" (change)="setValue()">
         <option value="Yes">Yes</option>
         <option value="No">No</option>
         <option value="Not Sure">Not Sure</option>
      </select>
    </div>
    <div class='col-md-6 pl-3 pt-3' *ngIf="types && label=='Strength purchased'">
        <input class="form-control" type="text" id="star1{{id}}" name="rate{{id}}" [(ngModel)]="valor" [disabled]="disabled" (keyup)="setValue()" />
    </div>
    <div class='col-md-6 pl-3 pt-3' *ngIf="types && (label=='Quantity purchased' || label=='Approximate out of pocket monthly cost')">
        <input class="form-control" type="number" id="star1{{id}}" name="rate{{id}}" [(ngModel)]="valor" [disabled]="disabled" (change)="setValue()" />
    </div>
</div>