<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 my-2 pt-3">
            <div class="coupon">
                <div class="row">
                    <div class="col-md-8">
                        <img src="assets/img/logo.png">
                        <span class="ml-3">Discount Medication Coupon</span>
                    </div>
                    <div class="col-md-4">
                        <span class="float-md-right">123456789</span>
                    </div>
                    <div class="col-md-6 mt-3 pl-4">
                        <div class="row">
                            <div class="col-md-12 bg-sec">
                                <span>Your Prescription:</span>
                            </div>
                            <div class="col-md-12">
                                <h3>Atorvastatin 40mg</h3>
                                <p class="text-muted p-0 mb-1 mt-0">30 tablets</p>
                            </div>
                            <div class="col-md-12 bg-sec">
                                <span>Discounted price with this coupon:</span>
                            </div>
                            <div class="col-md-12">
                                <span style="position: relative; top: -10px; font-size: 20px;">$</span><span style="font-size: 35px;">7.25</span>
                                <p style="font-size: 10px;">This is your estimated price at <span class="font-weight-bold">pharmacy name</span>. The pharmacy  will provide the exact pricing</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3 pr-4">
                        <div class="row">
                            <div class="col-md-12 bg-sec">
                                <span>Customer Info:</span>
                            </div>
                            <div class="col-md-12 mt-1">
                                <span for="name">Name:</span><br>
                                <span class="font-weight-bold">{{data.name}}</span>
                                
                            </div>
                            <div class="col-md-12 mt-1">
                                <span for="date">Date of Birth: </span><br>
                                <span class="font-weight-bold">{{data.dateOfBird}}</span>
                            </div>
                            <div class="col-md-12 mt-1">
                                <span for="telephone">Telephone: </span><br>
                                <span class="font-weight-bold">{{data.telephone}}</span>
                            </div>
                            <p>Expires: 14 days from date of print</p>
                        </div>
                    </div>
                    <div class="col-md-12 px-4">
                        <div class="row">
                            <div class="col-md-12 bg-sec py-1">
                                    Valid Only at: <br>
                                    Pharmacy name, address, Telephone. (this data will be extracted from database)
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-md-2 col-md-8 pt-3">
            <span class="text-muted" style="font-size: 12px;">Only valid for medication and quantity listed. Actual price may vary depending on your prescription order. Prices do not include  any applicable sales tax.</span>
        </div>        
        <div class="offset-md-2 col-md-8 pt-3">
            <h3 class="text-center">Print this free coupon and hand it to the pharmacy staff.</h3>
        </div>
        <div class="col-md-12 pt-3 pl-md-5">
            <p class="font-weight-bold mb-1 pb-1" style="font-size: 16px;">Frenquently Asked Questions</p>
            <p class="font-weight-bold mb-0 pb-0" >What if my pharmacy cannot process this coupon?</p>
            <p class="mb-1 pb-1">Pharmacies that submit pricing offers are participating vendors that must abide by marketplace guidelines. If your pharmacy is unable or unwilling to accept this coupon, please report it here.</p>
            <p class="mb-0 pb-0 font-weight-bold">Can I use the coupon with my health insurance?</p>
            <p class="mb-1 pb-1">This is coupon price may be lower than your health insurance co-pay, but it cannot be used to lower your co-pay. Ask your pharmacist to help you find the best possible price.</p>
            <p class="mb-0 pb-0 font-weight-bold">What if the price is wrong?</p>
            <p class="mb-1 pb-1">Please report any issues. The final price is determined by your local pharmacy, based on your prescription order. Please direct any questions regarding pricing variations with the pharmacy staff.</p>
        </div>
        <div class="offset-md-1 col-md-10 pt-3 pl-md-5 pt-3 text-center">
            <span class="font-weight-bold" style="font-size: 12px;">This coupon was printed on 10/25/2019. Please note that all prices are subject to change over time</span>
        </div>
    </div>
</div>
