<div id="selectHolder" class="selectHolder">
    <a id="selectToggle" href="javascript:void(0)" class="selectToggle" (click)="openToggle(selectOptions)"></a><a id="selectSelector" (click)="openToggle(selectOptions)" href="javascript:void(0)" class="selectSelector">{{name}}</a>
    <ul #selectOptions id="selectOptions" class="selectOptions" style="display: none;">
        <li *ngFor="let option of options" (click)="setValue(option)"><a href="javascript:void(0)" [ngClass]="{'selectFocus': option[labelValue] == value}">{{option[label]}} <span *ngIf="brand">({{option['genericbrand']}})</span></a></li>
        <li *ngIf="input">
            <div class="row">
                <div class="col-12">
                    <div class="input-group mb-1">
                        <input type="{{inputType}}" min="1" class="form-control" placeholder="QYT" aria-label="QTY" aria-describedby="basic-addon1" name="qty" [(ngModel)]="customValue">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" (click)="setCustomValue()">SET</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
