.selectHolder {
    background-color: #fff;
    border: 1px solid #e1e8ed;
    height: 32px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    min-width: 180px;
}

.selectSelector {
    display: block;
    left: 0;
    line-height: 32px;
    outline: none;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 100%;
}

.selectSelector:link,
.selectSelector:visited,
.selectSelector:hover {
    color: #555;
    outline: none;
    text-decoration: none;
    color: #007bff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    font-size: 0.75rem;
}

.selectToggle {
    position: absolute;
    display: block;
    height: 32px;
    outline: none;
    right: 0;
    top: 0;
    width: 35px;
    text-align: center;
    line-height: 32px;
}

.selectToggle:after {
    font-family: 'ElegantIcons';
    font-size: 14px;
    content: "\43";
    color: #007bff;
    text-align: center;
}

.selectHolderDisabled {
    background-color: #ededed;
    border: solid 1px #ededed;
}

.selectOptions {
    background-color: #fff;
    border: solid 1px #ededed;
    list-style: none;
    left: -1px;
    right: -1px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    z-index: 10;
    font-size: 12px;
    font-size: 0.75rem;
}

.selectOptions li {
    padding: 0 7px;
    float: none !important;
    border-bottom: solid 1px #ededed;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
    /*   height: 35px; */
    line-height: 30px;
    overflow: hidden;
}

.selectOptions li:last-child {
    border-bottom: none;
    float: none !important;
    margin: 0;
    padding-left: 10px;
}

.selectOptions li:hover {
    color: #e74e84;
}

.selectOptions a {
    display: block;
    outline: none;
    padding: 3px 0 3px 3px;
    text-transform: capitalize;
    overflow-x: hidden;
}

.selectOptions a:link,
.selectOptions a:visited selectOptions li {
    color: #555;
    text-decoration: none;
}

.selectOptions a:hover,
.selectOptions a:focus,
.selectOptions a.selectFocus,
.selectOptions li.selectFocus {
    color: #e74e84;
}

.selectOptions li.last a {
    border-bottom: none;
}

.selectOptions .selectDisabled {
    border-bottom: dotted 1px #fff;
    color: #999;
    display: block;
    padding: 7px 0 7px 3px;
}

.selectOptions .selectGroup {
    border-bottom: dotted 1px #fff;
    color: #555;
    display: block;
    font-weight: bold;
    padding: 7px 0 7px 3px;
}

.selectOptions .selectSub {
    padding-left: 17px;
}

.select-form {
    margin-bottom: 10px;
    padding-top: 10px;
}

.form-control {
    padding: 0.25rem 0.25rem;
    line-height: 1.2;
    min-height: 30px;
}
