<app-header></app-header>
<main>
    <div class="bg_color_2">
        <div class="container margin_60_35">
            <div id="login">
                <h1 style="color:#fff !important;">
                    Welcome back
                    <br>
                    Sign in for savings!
                </h1>
                <div class="box_form">
                    <form [formGroup]="formLogin" (ngSubmit)="getLogin()">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" formControlName="username" class="form-control" placeholder="Your email address or mobile number">
                        </div>
                        <div class="form-group">
                            <label for="pass">Password</label>

                            <input type="password" formControlName="password" class="form-control" placeholder="Your password">
                        </div>
                        <a [routerLink]="['/forgot']"><small>Forgot password?</small></a>
                        <div class="form-group text-center add_top_20">
                            <button class="btn_1 medium" type="submit" [disabled]="this.formLogin.invalid">Login</button>
                        </div>
                    </form>
                </div>
                <p class="text-center link_bright">Do not have an account yet? <a [routerLink]="['/register']" routerLinkActive="router-link-active" ><strong>Register now!</strong></a></p>
            </div>
            <!-- /login -->
        </div>
    </div>
</main>
<!-- /main -->
<app-footer></app-footer>