<app-header></app-header>
<main>
    <div class="bg_color_2">
        <div class="container margin_60_35">
            <div id="register">
                <h1 style="color: #fff !important">
                    Score great deals, leave reviews and more!
                    <br>
                    Create your MyRxPal account
                </h1>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <form [formGroup]="formRegister" (ngSubmit)="sendRegister()">
                            <div class="box_form">
                                <div class='row'>
                                   <div class='col-md-12 mb-3'>
                                    You have an account? <a [routerLink]="['/login']" >Log in</a>
                                   </div>
                                </div>
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" placeholder="Your name" formControlName="first_name">
                                </div>
                                <div class="form-group text-danger" *ngIf="formRegister.get('first_name').errors && (formRegister.get('first_name').dirty || formRegister.get('first_name').touched)">
                                    <div *ngIf="formRegister.get('first_name').hasError('required')">Field is required</div>
                                    <div *ngIf="formRegister.get('first_name').hasError('minlength')">Min of 3 characters</div>
                                    <div *ngIf="formRegister.get('first_name').hasError('maxlength')">Max of 50 characters</div>
                                    <div *ngIf="formRegister.get('first_name').hasError('pattern')">Must be characters from A to Z</div>
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" placeholder="Your last name" formControlName="last_name">
                                </div>
                                <div class="form-group text-danger" *ngIf="formRegister.get('last_name').errors && (formRegister.get('last_name').dirty || formRegister.get('last_name').touched)">
                                    <div *ngIf="formRegister.get('last_name').hasError('required')">Field is required</div>
                                    <div *ngIf="formRegister.get('last_name').hasError('minlength')">Min of 3 characters</div>
                                    <div *ngIf="formRegister.get('last_name').hasError('maxlength')">Max of 50 characters</div>
                                    <div *ngIf="formRegister.get('last_name').hasError('pattern')">Must be characters from A to Z</div>
                                </div>
                                <div class="form-group">
                                    <label>Email/Mobile</label>
                                    <input type="text" class="form-control" placeholder="Your email address or mobile number" formControlName="username">
                                </div>
                                <div class="form-group text-danger" *ngIf="formRegister.get('username').errors && (formRegister.get('username').dirty || formRegister.get('username').touched)">
                                    <div *ngIf="formRegister.get('username').hasError('required')">Field is required</div>
                                    <div *ngIf="formRegister.get('username').hasError('minlength')">Min of 9 characters</div>
                                    <div *ngIf="formRegister.get('username').hasError('maxlength')">Max of 50 characters</div>
                                    <div *ngIf="formRegister.get('username').hasError('pattern')">Format Invalid, Must be email or mobile</div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" id="password1" placeholder="Your password" formControlName="password">
                                </div>
                                <div class="form-group text-danger" *ngIf="formRegister.get('password').errors && (formRegister.get('password').dirty || formRegister.get('password').touched)">
                                    <div *ngIf="formRegister.get('password').hasError('required')">Field is required</div>
                                    <div *ngIf="formRegister.get('password').hasError('minlength')">Min of 9 characters</div>
                                    <div *ngIf="formRegister.get('password').hasError('maxlength')">Max of 50 characters</div>
                                    <div *ngIf="formRegister.get('password').hasError('pattern')">Format invalid, Must be A-Za-z-_</div>
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" id="password2" placeholder="Confirm password" formControlName="repassword">
                                </div>
                                <div class="form-group text-danger" *ngIf="formRegister.get('repassword').errors && (formRegister.get('repassword').dirty || formRegister.get('repassword').touched)">
                                    <div *ngIf="formRegister.get('repassword').hasError('required')">Field is required</div>
                                    <div *ngIf="formRegister.get('repassword').hasError('minlength')">Min of 9 characters</div>
                                    <div *ngIf="formRegister.get('repassword').hasError('maxlength')">Max of 50 characters</div>
                                    <div *ngIf="formRegister.get('repassword').hasError('pattern')">Format invalid, Must be A-Za-z-_</div>
                                    <div *ngIf="formRegister.get('repassword').hasError('repass')">Passwords no match</div>
                                </div>
                                <div class="checkbox-holder text-left">
                                    <div class="checkbox_2">
                                        <input type="checkbox" value="accept_2" id="check_2" name="check_2" formControlName="terms">
                                        <label for="check_2"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class='col-lg-12 mt-3'>
                                        <span style="font-weight: 500;">Send OTP by</span>
                                    </div>
                                    <div class='col-lg-6 mt-1'> 
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" (click)="otpBy(false)" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                              Email
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" (click)="otpBy(true)">
                                            <label class="form-check-label" for="exampleRadios2">
                                              Mobile
                                            </label>
                                        </div>
                                    </div>
                                    <div class='col-lg-12 mt-2' *ngIf="otpByMobile">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Your phone number">
                                        </div>                                      
                                    </div>
                                    <div class="col-lg-12 mt-3">
                                      <div class="form-group">
                                          <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Insert OTP Code" [disabled]="!sendOtp" [readonly]="!sendOtp" >
                                            <div class="input-group-append">
                                              <button class="btn btn-outline-primary btn-sm" *ngIf="!sendOtp">Send OTP</button>
                                              <button class="btn btn-outline-primary btn-sm" *ngIf="sendOtp" >Validate OTP</button>
                                            </div>
                                          </div> 
                                        <div *ngIf="sendOtpView"><p class="alert alert-info" style="font-size: 12px; line-height: 12px; margin-bottom: 5px; margin-top: 10px;">OTP sent , please check your email</p></div>                         
                                        <!--<div *ngIf="(formRegister.get('validCode').errors && formRegister.get('validCode').dirty && formRegister.get('validCode').touched) || (sendOtp && (invalidOtp || invalidOtp2))">
                                          <p class="text-danger" *ngIf="formRegister.get('validCode').hasError('required') && formRegister.get('validCode').touched">Verification code is required.</p>
                                          <p class="text-danger" *ngIf="invalidOtpCode">Verification code is invalid. <a class="btn btn-link btn-danger btn-sm" (click)="sendEmail()"> Resend a new OTP Code</a></p>
                                          <a  class="btn btn-link btn-danger" *ngIf="invalidOtpExpired ">The code has expired, click here if you want to send a new one</a>
                                        </div>-->
                                        
                                        <a  class="btn btn-link btn-info btn-sm" *ngIf="sendOtp">Did not receive OTP? click here to resend OTP</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group text-center add_top_30">
                                    <input class="btn_1" type="submit" value="Create Account" [disabled]="this.formRegister.invalid">
                                </div>
                            </div>
                            <p class="text-center"><small>&nbsp;</small></p>
                        </form>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /register -->
        </div>
    </div>
</main>
<!-- /main -->
<app-footer></app-footer>