<app-header></app-header>
<app-form-search></app-form-search>
<main>
    <div class="container margin_60">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <nav id="secondary_nav">
                    <div class="container">
                        <ul class="clearfix">
                            <li><a href="javascript:void(0)" class="active">Payment Method</a></li>
                            <li><a href="javascript:void(0)">&nbsp;</a></li>
                            <li><a href="javascript:void(0)">&nbsp;</a></li>
                        </ul>
                    </div>
                </nav>
                <div id="section_1">
                    <div class="box_general_3">
                        <div class="profile">
                            <div class="row">
                                <div class='col-md-12 my-3'>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="3" [(ngModel)]="newPayment" checked>
                                        <label class="form-check-label" for="exampleRadios3">
                                         MyRxPal Coins
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12 pl-5">
                                    <div class="card-body mb-3" *ngIf="pay_methods && newPayment=='3'">
                                        <div class='row my-1'>
                                            <div class='col-md-12'>
                                                Balance: ${{myCoins.balance | number: '1.2-2'}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class='col-md-12 my-3'>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="1" [(ngModel)]="newPayment" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                         Credit/Debit Card
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12 pl-5">
                                    <div class="card-body mb-3" *ngIf="pay_methods && newPayment=='1'">
                                        <div class='row my-1' *ngFor="let pay_method of userData.pay_methods; let i=index">
                                            <div class='col-md-1'>
                                                <input (click)="clickCard(pay_method)" class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios3{{i}}" value="1">
                                            </div>
                                            <div class='col-md-6'>
                                                <label for="exampleRadios3{{i}}">
                                                    <img *ngIf="pay_method.data.brand=='Visa'" src="https://js.stripe.com/v3/fingerprinted/img/visa-365725566f9578a9589553aa9296d178.svg" class="mr-2">
                                                    <img *ngIf="pay_method.data.brand=='MasterCard'" src="https://js.stripe.com/v3/fingerprinted/img/mastercard-4d8844094130711885b5e41b28c9848f.svg" class="mr-2">
                                                    <img *ngIf="pay_method.data.brand=='American Express'" src="https://js.stripe.com/v3/fingerprinted/img/amex-a49b82f46c5cd6a96a6e418a6ca1717c.svg" class="mr-2">
                                                    <img *ngIf="pay_method.data.brand=='Discover'" src="https://js.stripe.com/v3/fingerprinted/img/discover-ac52cd46f89fa40a29a0bfb954e33173.svg" class="mr-2">
                                                    <img *ngIf="pay_method.data.brand=='Diners Club'" src="https://js.stripe.com/v3/fingerprinted/img/diners-fbcbd3360f8e3f629cdaa80e93abdb8b.svg" class="mr-2">
                                                    <img *ngIf="pay_method.data.brand=='JCB'" src="https://js.stripe.com/v3/fingerprinted/img/jcb-271fd06e6e7a2c52692ffa91a95fb64f.svg" class="mr-2">
                                                    <img *ngIf="pay_method.data.brand=='UnionPay'" src="https://js.stripe.com/v3/fingerprinted/img/unionpay-8a10aefc7295216c338ba4e1224627a1.svg" class="mr-2">
                                                    {{pay_method.data.brand}}
                                                </label>
                                            </div>
                                            <div class='col-md-5'>
                                                <label for="exampleRadios3{{i}}">
                                                    ****-{{pay_method.data.last4}}
                                                </label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class='col-md-12 mt-3'>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="2" [(ngModel)]="newPayment">
                                        <label class="form-check-label" for="exampleRadios2">
                                         Add New Payment Method
                                        </label>
                                    </div>
                                </div>
                                <div class='col-md-12 pl-5 mt-2 mb-3' *ngIf="newPayment=='2'">
                                    <form novalidate (ngSubmit)="addCard()" [formGroup]="stripeTest">
                                        <div class='row'>
                                            <div class='col-md-12'>
                                                <div class='form-group'>
                                                    <label for='name'>Cardholder Full Name</label>
                                                    <input class="form-control" type="text" formControlName="name" placeholder="Jane Doe">
                                                </div>
                                            </div>
                                        </div>
                                        <div class='row my-1'>
                                            <div class='col-md-12'>
                                                <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-md-12'>
                                                <button class="btn btn-success" type="submit">
                                                    Add
                                                 </button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- /profile -->
                    </div>
                    <!-- /section_1 -->

                    <div class="card">
                        <div class="card-header bg-default text-light">
                            Your Items
                        </div>
                        <div class="card-body">
                            <div class="row border-bottom mb-2" *ngFor="let item of items; let i= index">
                                <div class='col-md-10'>
                                    Product Name: <b>{{item.drugname | uppercase}} {{item.dosage}} {{item.quantity}} {{item.strength}}</b>
                                    <br>
                                    <div class="form-group row mt-1">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Quantity</label>
                                        <div class="col-sm-2">
                                            <input type="number" class="form-control" id="inputEmail{{i}}" placeholder="1" value="{{item.qty}}" min="1" (change)="updateQty(i)">
                                        </div>
                                    </div>
                                    <p class="mb-1"><a href="http://old.myrxpal.com/consumer/#/search/null/{{item.pharmacy_name}}">{{item.pharmacy_name}}</a></p>
                                    <p class="mb-1">{{item.pharmacy_address}}</p>
                                    <p class="mb-1" *ngIf="item.pharmacy_tel">{{item.pharmacy_tel}}</p>
                                </div>
                                <div class='col-md-2'>
                                    ${{item.price | number : '1.2-2'}}
                                    <br>
                                    <br>
                                    <button class="btn btn-outline-secondary btn-sm" (click)="deleteItem(i)"><i class="icon-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /box_general -->
            </div>
            <!-- /col -->
            <aside class="col-xl-4 col-lg-4" id="sidebar">
                <div class="box_general_3 booking">
                    <div class="title">
                        Order Summary
                        <!--<small>Monday to Friday 09.00am-06.00pm</small>-->
                    </div>
                    <div class='row'>
                        <div class='col-md-5'>
                            Subtotal:
                        </div>
                        <div class='col-md-7 font-weight-bold text-right'>
                            ${{amount | number:'1.2-2'}}
                        </div>
                        <div class='col-md-12 mt-2'>
                            <a href="javascript:void(0)">Promo or Gift Code</a>
                            <hr>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-5'>
                            Order Total:
                        </div>
                        <div class='col-md-7 font-weight-bold text-right'>
                            ${{amount | number:'1.2-2'}}

                        </div>
                        <div class='col-md-12 text-muted mt-3' style="font-size: 10px;">
                            By clicking below. I agree to the <a href="javascript:void(0)">Terms of use</a> and <a href="javascript:void(0)">Refound Policy</a> and that i have read the <a href="javascript:void(0)">Privacy Statement</a>
                        </div>

                        <div class='col-md-12 text-muted mt-3'>
                            <button class="btn btn-success btn-block btn-sm" (click)="placeOrder()" [disabled]="(newPayment == '1' && token == undefined) || (newPayment == '3' && amount > myCoins.balance )">Place Order</button>
                        </div>
                    </div>
                </div>
                <!-- /box_general -->
            </aside>
            <!-- /asdide -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!-- /main -->