.input-group i { 
    position: absolute;
    left: 35.5%;
    color: #495057;
} 
  
.input-group{ 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 10px 15px; 
    min-width: 40px; 
} 
  
.search-query { 
    width: 100%; 
    padding: 10px; 
    padding-left: 40px !important;
    width: 30%;
} 