<app-header></app-header>
<main>
    <div class="hero_home version_1">
        <div class="content">
            <h3>Welcome to Savings!</h3>
            <p>
                Check MyRxPal First For Medication Prices Before You Go To The Pharmacy
            </p>
            <form [formGroup]="formSearch" (ngSubmit)="getSearch()">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class="search-query" formControlName="search" placeholder="Type your drug name" (keyup)="setValue()" (keydown)="keyDown($event)">
                        <app-autocomplete [value]="value" (setItem)="setSearch($event)" [keyPress]="keyCode"></app-autocomplete>
                        <i class="icon-location icon"></i>
                        <input type="text" class="search-query" formControlName="autocomplete" #addresstext placeholder="Location" style="padding-right: 50px;" (keydown)="keyDown2($event)">
                        <button type="submit" class="btn_search">FIND THE LOWEST PRICE</button>
                    </div>
                    <ul>
                        <li>
                            <input type="radio" id="all" name="radio_search" value="all" data-toggle="modal" data-target="#filterModal">
                            <label for="all">Filter Search</label>
                        </li>
                        <li class="d-none">
                            <input type="radio" id="doctor" name="radio_search" value="doctor">
                            <label for="doctor">Doctor</label>
                        </li>
                        <li class="d-none">
                            <input type="radio" id="clinic" name="radio_search" value="clinic">
                            <label for="clinic">Clinic</label>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <!-- /Hero -->

    <div class="container margin_60">

        <div class="row add_bottom_30">
            <div class="col-lg-4">
                <div class="p-2">
                    <img src="assets/img/image1.png" style="position: relative; width: 100%;">
                </div>
                <div class="box_feat">
                    <h3>Compare prices</h3>
                    <p>Search medication pricing and discounts collected from local community pharmacies to national chains and everything in between.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-2">
                    <img src="assets/img/image2.png" style="position: relative; width: 100%;">
                </div>
                <div class="box_feat">
                    <h3>Claim your discount</h3>
                    <p> Lock your exclusive savings by prepaying for a savings certificate with our simple and secure checkout. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-2">
                    <img src="assets/img/image3.png" style="position: relative; width: 100%;">
                </div>
                <div class="box_feat">
                    <h3>Redeem and save</h3>
                    <p>Show the savings certificate to the pharmacy staff at the time of ordering or at checkout and enjoy the savings.</p>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>

<app-footer></app-footer>
<app-filter></app-filter>