<app-header></app-header>
<app-form-search></app-form-search>
<div class="container">
    <div class="row">
		<div class="col-lg-12">
			<div class="row">
                <div class='col-lg-12 my-3'>
                    <span style="font-size: 20px;"><i class="icon-user"></i> My Account</span>
                </div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
					<div class="card pb-3">
						<div class="card-body">
							<div class='row'>
                               <div class='col-lg-12'>
                                   <app-navadmin></app-navadmin>
							   </div>
							   <div class='col-md-12 mt-2'>
								   <div class="card">
									   <div class="card-body pb-3">
										   <div class='row'>
											  <div class='col-md-6'>
												 <div class='row py-2'>
													<div class='col-md-6'>
													   Date:
													</div>
													<div class='col-md-6'>
														01/22/2020
													</div>
												 </div>
												 <div class='row py-2'>
													<div class='col-md-6'>
													   Seller
													</div>
													<div class='col-md-6'>
														Test Name
													</div>
												 </div>
												 <div class='row py-2'>
													<div class='col-md-6'>
													   Product Name:
													</div>
													<div class='col-md-6'>
														Test Product name
													</div>
												 </div>
											  </div>
											  <div class='col-md-6'>
													<app-review [label]="'Condition'" [disabled]="true" [valor]="'Example'" [types]="true"></app-review>
													<app-review [label]="'Treatment length'" [disabled]="true" [valor]="'10 years or more'" [types]="true"></app-review>
								   					<app-review [label]="'Effectiveness'" [disabled]="true" [valor]="'5'"></app-review>
								   					<app-review [label]="'Ease of Use'" [disabled]="true" [valor]="'3'"></app-review>
								   					<app-review [label]="'Satisfaction'" [disabled]="true" [valor]="'2'"></app-review>
								   					<app-review [label]="'Overall, I have been satisfied with my experience'" [disabled]="true" [valor]="'Yes'" [types]="true"></app-review>  
											  </div>
										   </div>
									   </div>
								   </div>

								   <div class="card">
									<div class="card-body pb-3">
										<div class='row'>
										   <div class='col-md-6'>
											  <div class='row py-2'>
												 <div class='col-md-6'>
													Date:
												 </div>
												 <div class='col-md-6'>
													 01/22/2020
												 </div>
											  </div>
											  <div class='row py-2'>
												 <div class='col-md-6'>
													Seller
												 </div>
												 <div class='col-md-6'>
													 Test Name
												 </div>
											  </div>
											  <div class='row py-2'>
												 <div class='col-md-6'>
													Product Name:
												 </div>
												 <div class='col-md-6'>
													 Test Product name
												 </div>
											  </div>
										   </div>
										   <div class='col-md-6'>
												<app-review [label]="'Condition'" [disabled]="true" [valor]="'Example'" [types]="true"></app-review>
												<app-review [label]="'Treatment length'" [disabled]="true" [valor]="'10 years or more'" [types]="true"></app-review>
												<app-review [label]="'Effectiveness'" [disabled]="true" [valor]="'4'"></app-review>
												<app-review [label]="'Ease of Use'" [disabled]="true" [valor]="'2'"></app-review>
												<app-review [label]="'Satisfaction'" [disabled]="true" [valor]="'5'"></app-review>
												<app-review [label]="'Overall, I have been satisfied with my experience'" [disabled]="true" [valor]="'No'" [types]="true"></app-review>
										   </div>
										</div>
									</div>
								</div>
							   </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /content-left-->		
	</div>
	<!-- /row-->
</div>

<!-- /container-fluid -->
 
  
