<!-- Modal -->
<div class="modal fade" id="modalAddShipping" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <form [formGroup]="formAddress" (ngSubmit)="sendAddress()">  
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add New Shipping Address</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="formAddress.reset()" id="close" #close>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="address_type">Address Type</label>
                    <select class="form-control" formControlName="address_type">
                        <option>Home</option>
                        <option>Office</option>
                        <option>Other</option>
                    </select>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="street1">Street Address 1</label>
                    <input type="text" class="form-control" id="street1" placeholder="Street Address 1" formControlName="street1">
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="street2">Street Address 2</label>
                    <input type="text" class="form-control" id="street2" placeholder="Street Address 2" formControlName="street2">
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="State">State</label>
                      <select class="form-control"  formControlName="state">
                          <option value="Alabama">Alabama</option>
                          <option value="Alaska">Alaska</option>
                          <option value="Arizona">Arizona</option>
                          <option value="Arkansas">Arkansas</option>
                          <option value="California">California</option>
                          <option value="Colorado">Colorado</option>
                          <option value="Connecticut">Connecticut</option>
                          <option value="Delaware">Delaware</option>
                          <option value="District Of Columbia">District Of Columbia</option>
                          <option value="Florida">Florida</option>
                          <option value="Georgia">Georgia</option>
                          <option value="Hawaii">Hawaii</option>
                          <option value="Idaho">Idaho</option>
                          <option value="Illinois">Illinois</option>
                          <option value="Indiana">Indiana</option>
                          <option value="Iowa">Iowa</option>
                          <option value="Kansas">Kansas</option>
                          <option value="Kentucky">Kentucky</option>
                          <option value="Louisiana">Louisiana</option>
                          <option value="Maine">Maine</option>
                          <option value="Maryland">Maryland</option>
                          <option value="Massachusetts">Massachusetts</option>
                          <option value="Michigan">Michigan</option>
                          <option value="Minnesota">Minnesota</option>
                          <option value="Mississippi">Mississippi</option>
                          <option value="Missouri">Missouri</option>
                          <option value="Montana">Montana</option>
                          <option value="Nebraska">Nebraska</option>
                          <option value="Nevada">Nevada</option>
                          <option value="New Hampshire">New Hampshire</option>
                          <option value="New Jersey">New Jersey</option>
                          <option value="New Mexico">New Mexico</option>
                          <option value="New York">New York</option>
                          <option value="North Carolina">North Carolina</option>
                          <option value="North Dakota">North Dakota</option>
                          <option value="Ohio">Ohio</option>
                          <option value="Oklahoma">Oklahoma</option>
                          <option value="Oregon">Oregon</option>
                          <option value="Pennsylvania">Pennsylvania</option>
                          <option value="Rhode Island">Rhode Island</option>
                          <option value="South Carolina">South Carolina</option>
                          <option value="South Dakota">South Dakota</option>
                          <option value="Tennessee">Tennessee</option>
                          <option value="Texas">Texas</option>
                          <option value="Utah">Utah</option>
                          <option value="Vermont">Vermont</option>
                          <option value="Virginia">Virginia</option>
                          <option value="Washington">Washington</option>
                          <option value="West Virginia">West Virginia</option>
                          <option value="Wisconsin">Wisconsin</option>
                          <option value="Wyoming">Wyoming</option>
                      </select>	
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="zipcode">Zip Code</label>
                    <input type="text" class="form-control" id="zipcode" placeholder="Zip Code" formControlName="zip_code">
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <div class="form-check">
                          <input class="form-check-input" type="radio" id="status1" value="1" formControlName="status">
                          <label class="form-check-label" for="status1">
                              Default shipping address
                          </label>
                        </div>
                  </div>
                  <div class="form-group col-md-6">
                      <div class="form-check">
                          <input class="form-check-input" type="radio" id="status2" value="0" checked formControlName="status">
                          <label class="form-check-label" for="status2">
                              Not Default shipping address
                          </label>
                        </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="formAddress.reset()">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="formAddress.invalid">Save changes</button>
          </div>
        </div>
      </div>
  </form>
</div>
