 
.search_bar_list{ 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 7px 10px 10px 10px; 
    min-width: 40px;
    font-size: 20px; 
} 
.input-icon{
    padding-left: 40px !important;
}

.card {
    background-color: #ffffff;
    border: 1px solid rgba(0, 34, 51, 0.1);
    box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05);
    border-radius: 0.15rem;
}

/* Tabs Card */

.tab-card {
  border:1px solid #eee;
}

.tab-card-header {
  background:none;
}
/* Default mode */
.tab-card-header > .nav-tabs {
  border: none;
  margin: 0px;
}
.tab-card-header > .nav-tabs > li {
  margin-right: 2px;
}
.tab-card-header > .nav-tabs > li > a {
  border: 0;
  border-bottom:2px solid transparent;
  margin-right: 0;
  color: #737373;
  padding: 2px 15px;
}

.tab-card-header > .nav-tabs > li > a.show {
    border-bottom:2px solid #007bff;
    color: #007bff;
}
.tab-card-header > .nav-tabs > li > a:hover {
    color: #007bff;
}

.tab-card-header > .tab-content {
  padding-bottom: 0;
}

.nav-tabs {
  border-bottom: 1px solid transparent !important;
}

.nav-tabs .nav-link {
  border: 1px solid transparent !important;

}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-color: #dee2e6  #007bff #dee2e6 #dee2e6  !important;
  color: #007bff;

}
  