<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="formSearchR" (ngSubmit)="getSearch()">
                <div class="search_bar_wrapper row">
                    <div class="search_bar_list col-lg-6 offset-lg-3">
                        <input type="text" class="form-control" placeholder="Type your drug name" formControlName="search" (keyup)="setValue($event)" (keydown)="keyDown($event)">
                        <app-autocomplete [value]="value" (setItem)="setSearch($event)" [keyPress]="keyCode"></app-autocomplete>
                        <i class="icon-location icon"></i>
                        <input type="text" class="form-control input-icon" placeholder="Location" #addresstext formControlName="autocomplete" (keydown)="keyDown2($event)">
                        <input type="submit" value="FIND THE LOWEST PRICE">
                    </div>
                </div>
                <div class="row" *ngIf="results.length==0">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="filters_listing map_listing">
                            <ul class="clearfix">
                                <li>
                                    {{msg}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="results.length>0">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="filters_listing map_listing">
                            <ul class="clearfix">
                                <li>
                                    <h6>&nbsp;</h6>
                                    <div>
                                        {{results[0].mrp_pricinginfo.length}} results <span *ngIf="drugname!='' && drugname!='N/A'">for {{drugname}}</span>
                                    </div>
                                </li>
                                <li style="float: right;">
                                    <h6>&nbsp;</h6>
                                    <div class="switch-field">
                                        <input type="radio" id="all" name="type_patient" value="all" data-toggle="modal" data-target="#filterModal">
                                        <label for="all">Filter Search</label>
                                    </div>
                                </li>
                                <li style="float: right;">
                                    <h6>Sort By</h6>
                                    <select name="sortBy" class="selectbox">
                                      <option>Most recent</option>
                                      <option>Highest total rating</option>
                                      <option>Lowest total rating</option>
                                      <option>High satisfaction</option>
                                      <option>Low satisfaction</option>
                                    </select>
                                </li>
                            </ul>
                            <ul class="clearfix mb-2" [ngClass]="{'d-none': drugname=='' || drugname=='N/A'}">
                                <li><span class="text-uppercase font-weight-bold">{{drugname}}  {{strengthV}} {{results[0].dosageform}}</span></li>
                            </ul>
                            <ul class="clearfix mb-2" [ngClass]="{'d-block': drugname=='' || drugname=='N/A', 'd-none': drugname!='' || drugname!='N/A'}">
                                <li><span class="text-uppercase font-weight-bold">Medication name 50mg tablets</span></li>
                            </ul>

                            <ul class="clearfix">
                                <!-- <li *ngIf="results[0].genericinfo.length>0 || results[0].brandinfo.length>0">
                                    <h6>Medication settings</h6>
                                    <select name="brand" class="selectbox" #brands>
                                      <option *ngFor="let brands of results[0].genericinfo;" [ngClass]="{'d-none': results[0].genericinfo.length==0}" [value]="brands.dnd">{{brands.commonname}} ({{brands.genericbrand}})</option>
                                      <option *ngFor="let brands of results[0].brandinfo;" [ngClass]="{'d-none': results[0].brandinfo.length==0}" [value]="brands.dnd">{{brands.commonname}} ({{brands.genericbrand}})</option>
                                    </select>
                                </li> -->
                                <!-- <li *ngIf="results[0].dosageforms.length>0">
                                    <h6>&nbsp;</h6>
                                    <select name="form" class="selectbox" #dosage>
                                    <option *ngFor="let dosages of results[0].dosageforms" [value]="dosages.dosage">{{dosages.dosage}}</option>
                                  </select>
                                </li> -->
                                <!--  <li *ngIf="results[0].defaultstrengths.length>0">
                                    <h6>&nbsp;</h6>
                                    <select name="strength" class="selectbox" #strength>
                                      <option *ngFor="let strengths of results[0].defaultstrengths" [value]="strengths.strength">{{strengths.strength}}</option>
                                    </select>
                                </li> -->
                                <!-- <li *ngIf="results[0].quantities.length>0">
                                    <h6>&nbsp;</h6>
                                    <select name="quantity" class="selectbox" #qty>
                                      <option *ngFor="let quantities of results[0].quantities" [value]="quantities.quantity">{{quantities.quantity}}</option>
                                    </select>
                                </li> -->
                                <li *ngIf="results[0].brandinfo.length>0">
                                    <h6>&nbsp;</h6>
                                    <app-select [options]="results[0].brandinfo" label="commonname" labelValue='dnd' [value]="did" [brand]="true" (changed)="getChanged($event)"></app-select>
                                </li>
                                <li *ngIf="results[0].dosageforms.length>0">
                                    <h6>&nbsp;</h6>
                                    <app-select [options]="results[0].dosageforms" label="dosage" labelValue='dosage' [value]="dosage" (changed)="getChanged($event)"></app-select>
                                </li>
                                <li *ngIf="results[0].defaultstrengths.length>0">
                                    <h6>&nbsp;</h6>
                                    <app-select [options]="results[0].defaultstrengths" label="strength" labelValue='strength' [value]="strength" (changed)="getChanged($event)"></app-select>
                                </li>
                                <li *ngIf="results[0].quantities.length>0">
                                    <h6>&nbsp;</h6>
                                    <app-select [options]="results[0].quantities" label="quantity" labelValue='quantity' [value]="qty" (changed)="getChanged($event)" [input]="true" inputType="number"></app-select>
                                </li>
                            </ul>
                        </div>
                        <!-- /filters -->
                    </div>
                </div>

            </form>
        </div>
        <div class="container" *ngIf="results.length>0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <p class="text-muted" style="font-size: 12px; margin-bottom: 10px;">No membership fee or insurance required to enjoy savings. Prices shown are collected by participating member pharmacies exclusively for MyRxPal. Don’t see a price or find a lower price? <a href="javascript:void(0);" *ngIf="this.isLogginServices.logginStatus"
                                    data-toggle="modal" data-target="#modalTellUs">Tell us</a><a [routerLink]="['/login']" *ngIf="!this.isLogginServices.logginStatus">Tell us</a> to make this platform better.</p>
                            <div class="card">
                                <div class="card-body">
                                    <div class='row' *ngIf="results[0].mrp_pricinginfo.length == 0">
                                        <div class='col-md-6'>
                                            No Participating Pharmacies
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="results[0].mrp_pricinginfo.length > 0">
                                        <div class=" col-lg-2">
                                            <div class="nav flex-column nav-tabs" id="v-tabs-tab" role="tablist" aria-orientation="vertical">
                                                <a class="nav-link active" id="v-tabs-prices-tab" data-toggle="tab" href="#prices" role="tab" aria-controls="v-tabs-home" aria-selected="true"><i class="icon-tag-2"></i> Prices</a>
                                                <a class="nav-link" href="javascript:void(0)" (click)="openUrl( 'https://medlineplus.gov/druginformation.html')"><i class="icon-clipboard-2"></i> Med Info</a>
                                                <a class="nav-link" id="v-tabs-medratings-tab" data-toggle="tab" href="#medratings" role="tab" aria-controls="medratings" aria-selected="false"><i class="icon_star"></i> Med Ratings</a>
                                                <a class="nav-link" href="javascript:void(0)" (click)="openUrl( 'https://www.fda.gov/safety/recalls-market-withdrawals-safety-alerts')"><i class=" icon-attention-1"></i> Safety Alerts</a>
                                            </div>
                                        </div>
                                        <div class='col-lg-10'>
                                            <div class="tab-content" id="v-tabs-tabContent">
                                                <div class="tab-pane fade show active" id="prices" role="tabpanel" aria-labelledby="v-tabs-prices-tab">
                                                    <div class="strip_list" *ngFor="let item of results[0].mrp_pricinginfo; let i = index;">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                                <h3 class="text-primary"><a href="http://old.myrxpal.com/consumer/#/search/{{formSearchR.get('autocomplete').value}}/{{item[0].cname}}" target="_blank">{{item[0].cname}}</a></h3><br>
                                                                <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(3)</small></span>
                                                                <p>
                                                                    {{item[0].caddress}}
                                                                    <br> {{item[0].ccity}}, {{item[0].cstate}}, {{item[0].czip}}
                                                                </p>
                                                                <i class="fas fa-medal border rounded-circle border-primary text-primary" style="width: 40px; height: 40px; position: relative; line-height: 40px; text-align: center; margin-right: 5px;
                                                                   " data-toggle="tooltip" data-placement="top" title="Member"></i>
                                                                <i class="fas fa-check-double border rounded-circle border-primary text-primary" style="width: 40px; height: 40px; position: relative; line-height: 40px; text-align: center; margin-right:
                                                                    5px;" data-toggle="tooltip" data-placement="top" title="MyRxPal Verified"></i>
                                                                <i class="fas fa-ambulance border rounded-circle border-primary text-primary" style="width: 40px; height: 40px; position: relative; line-height: 40px; text-align: center; margin-right:
                                                                    5px;" data-toggle="tooltip" data-placement="top" title="Delivery"></i>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                                                                <p class="text-muted mb-1 text-center">Avg retail price</p>
                                                                <p class="text-center">${{results[0].asp | number:'1.2-2'}}</p>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                                                <p class="font-weight-bold text-muted mb-1 text-center" style="font-size:20px;">${{item[1] | number:'1.2-2'}}</p>
                                                                <p class="text-center"><span style="font-size: 12px;" style="font-size:15px;">with savings certificate</span></p>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                                                <button class="btn btn-success mt-1 btn-block" style="display: block;" (click)="buyCoupon(item)">BUY NOW</button>
                                                                <button id="wishlist-{{did}}-{{item[0].name}}-{{dosage}}-{{strength}}-{{qty}}" class="btn btn-primary mt-1 btn-block" style="display:block;" (click)="addWishlist(item, did+'-'+item[0].name+'-'+dosage+'-'+strength+'-'+qty)"><i class="icon_heart"></i> Add Wishlist</button>
                                                                <button id="mywishlist-{{did}}-{{item[0].name}}-{{dosage}}-{{strength}}-{{qty}}" class="btn btn-secondary mt-1 btn-block" style="display:none;" (click)="removeMyWishlist(item, did+'-'+item[0].name+'-'+dosage+'-'+strength+'-'+qty)"><i class="icon_heart"></i> Remove Wishlist</button>
                                                            </div>
                                                        </div>

                                                        <!--<ul>
													<li><a href="javascript:void(0)" class="btn_listing">View on Map</a></li>
													<li class="d-none"><a href="https://www.google.com/maps/dir//Assistance+%E2%80%93+H%C3%B4pitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x0:0xa6a9af76b1e2d899!2sAssistance+%E2%80%93+H%C3%B4pitaux+De+Paris!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361
                                       " target="_blank">Directions</a></li>
													<li class="d-none"><a href="detail-page.html">Book now</a></li>
												</ul>-->
                                                    </div>
                                                    <!-- /strip_list -->
                                                    <!--<div class="strip_list">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                                <h3 class="text-primary"><a href="http://old.myrxpal.com/consumer/#/details/null/20846" target="_blank">PharmacyName 2</a></h3><br>
                                                                <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(3)</small></span>
                                                                <p>
                                                                    Pharmacy address
                                                                    <br> City, state, zipcode
                                                                </p>
                                                                <i class="fas fa-medal border rounded-circle border-primary text-primary" style="width: 40px; height: 40px; position: relative; line-height: 40px; text-align: center; margin-right: 5px;
                                       " data-toggle="tooltip" data-placement="top" title="Member"></i>
                                                                <i class="fas fa-check-double border rounded-circle border-primary text-primary" style="width: 40px; height: 40px; position: relative; line-height: 40px; text-align: center; margin-right:
                                        5px;" data-toggle="tooltip" data-placement="top" title="MyRxPal Verified"></i>
                                                                <i class="fas fa-ambulance border rounded-circle border-primary text-primary" style="width: 40px; height: 40px; position: relative; line-height: 40px; text-align: center; margin-right:
                                        5px;" data-toggle="tooltip" data-placement="top" title="Delivery"></i>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                                                                <p class="text-muted mb-1 text-center">Avg retail price</p>
                                                                <p class="text-center">$12.5</p>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">

                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                                                <a class="btn btn-warning mt-1 btn-block" [routerLink]="[ '/login']" *ngIf="!this.isLogginServices.logginStatus" style="display: block;">Get Price Quote</a>
                                                                <button class="btn btn-warning mt-1 btn-block" data-toggle="modal" data-target="#modalGetPrice" style="display: block;">Get Price Quote</button>
                                                            </div>
                                                        </div>

                                                        <ul>
													<li><a href="javascript:void(0)" class="btn_listing">View on Map</a></li>
													<li class="d-none"><a href="https://www.google.com/maps/dir//Assistance+%E2%80%93+H%C3%B4pitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x0:0xa6a9af76b1e2d899!2sAssistance+%E2%80%93+H%C3%B4pitaux+De+Paris!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361
                                       " target="_blank">Directions</a></li>
													<li class="d-none"><a href="detail-page.html">Book now</a></li>
												</ul>
                                                    </div>-->
                                                    <!-- /strip_list -->
                                                    <br>
                                                    <br>
                                                </div>
                                                <div class="tab-pane fade" id="medratings" role="tabpanel" aria-labelledby="v-tabs-ratings-tab">
                                                    <div class="strip_list">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                                                <h3 class="text-primary">User Reviews for {{drugname}}</h3>
                                                                <br>
                                                                <span>The following information is NOT intended to endorse any particular medication. While these reviews might be helpful, they are not a substitute for the expertise, skill, knowledge and judgement of healthcare practitioners</span>
                                                                <br>
                                                                <br>
                                                                <app-ratings></app-ratings>
                                                                <br>
                                                                <br>

                                                                <span>Reviews may be moderated or edited before publication to correct grammar and spelling or to remove inappropriate language and content. Reviews that appear to be created by parties with a vested interest in the medication will not be published. As reviews and ratings are subjetive and self-reported, this information should not be used as the basis for any statistical analysis or scientific studies</span>
                                                                <br>
                                                                <button class="btn btn-primary" style="margin-top: 10px;" data-toggle="modal" data-target="#modalAddReview">Share your Experience</button>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                                                                <div class="card">
                                                                    <div class="card-body pb-3">
                                                                        <div class='row'>
                                                                            <div class='col-md-12 text-right'>
                                                                                JM 27 years
                                                                            </div>
                                                                            <div class='col-md-12'>
                                                                                <app-review [label]=" 'Condition'" [disabled]="true" [valor]=" 'Example'" [types]="true"></app-review>
                                                                                <app-review [label]=" 'Treatment length'" [disabled]="true" [valor]=" '1 to 6 months'" [types]="true"></app-review>
                                                                                <app-review [label]=" 'Effectiveness'" [disabled]="true" [valor]=" '4'"></app-review>
                                                                                <app-review [label]=" 'Ease of Use'" [disabled]="true" [valor]=" '2'"></app-review>
                                                                                <app-review [label]=" 'Satisfaction'" [disabled]="true" [valor]=" '5'"></app-review>
                                                                                <app-review [label]=" 'Overall, I have been satisfied with my experience'" [disabled]="true" [valor]=" 'No'" [types]="true"></app-review>
                                                                            </div>
                                                                            <div class='col-md-12 text-right mt-3'>
                                                                                <span class="text-danger">Report</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card">
                                                                    <div class="card-body pb-3">
                                                                        <div class='row'>
                                                                            <div class='col-md-12 text-right'>
                                                                                AP 27 years
                                                                            </div>
                                                                            <div class='col-md-12'>
                                                                                <app-review [label]=" 'Condition'" [disabled]="true" [valor]=" 'Example'" [types]="true"></app-review>
                                                                                <app-review [label]=" 'Treatment length'" [disabled]="true" [valor]=" '10 years or more'" [types]="true"></app-review>
                                                                                <app-review [label]=" 'Effectiveness'" [disabled]="true" [valor]=" '4'"></app-review>
                                                                                <app-review [label]=" 'Ease of Use'" [disabled]="true" [valor]=" '2'"></app-review>
                                                                                <app-review [label]=" 'Satisfaction'" [disabled]="true" [valor]=" '5'"></app-review>
                                                                                <app-review [label]=" 'Overall, I have been satisfied with my experience'" [disabled]="true" [valor]=" 'Yes'" [types]="true"></app-review>
                                                                            </div>
                                                                            <div class='col-md-12 text-right mt-3'>
                                                                                <span class="text-danger">Report</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /strip_list -->
                                                </div>

                                                <div class="tab-pane fade" id="safe" role="tabpanel" aria-labelledby="v-tabs-safe-tab">
                                                    <div class="strip_list">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                                <h3 class="text-primary">PharmacyName 3</h3>
                                                                <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></span>
                                                                <p>
                                                                    Pharmacy address
                                                                    <br> City, state, zipcode
                                                                </p>
                                                                <i class="fas fa-medal border rounded-circle border-primary text-primary" style="width: 40px; height: 40px; position: relative; line-height: 40px; text-align: center; margin-right: 5px;
                                       " data-toggle="tooltip" data-placement="top" title="Member"></i>
                                                                <i class="fas fa-check-double border rounded-circle border-primary text-primary" style="width: 40px; height: 40px; position: relative; line-height: 40px; text-align: center; margin-right:
                                        5px;" data-toggle="tooltip" data-placement="top" title="MyRxPal Verified"></i>
                                                                <i class="fas fa-ambulance border rounded-circle border-primary text-primary" style="width: 40px; height: 40px; position: relative; line-height: 40px; text-align: center; margin-right:
                                        5px;" data-toggle="tooltip" data-placement="top" title="Delivery"></i>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                                                                <p class="font-weight-bold text-muted mb-1 text-center">$1.83</p>
                                                                <span style="font-size: 12px;">with free coupon</span>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                                <button class="btn btn-rose mt-1" style="display: block;" (click)="getFree()">GET FREE COUPON</button>
                                                                <button class="btn btn-rose mt-1" style="display: block;">BUY NOW</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /strip_list -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /content-left-->
            </div>
            <!-- /row-->
        </div>

        <!-- /container-fluid -->
        <app-filter></app-filter>
        <app-getprice></app-getprice>
        <app-tellus></app-tellus>
        <app-add-reviews></app-add-reviews>