 /* Links inside the dropdown */
 
 .option a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     font-size: 12px;
 }
 /* Change color of dropdown links on hover */
 
 .option a:hover,
 .option a:focus,
 .option a.focus {
     background-color: #f5548d;
     color: #fff;
 }