<!-- Modal -->
<div class="modal fade" id="modalTellUs" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Tell Us</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="formTell" (ngSubmit)="saveTellUs()">
          <div class="modal-body">
           <div class='row'>
              <div class='col-md-12 mb-2'>
                 <span class="text-muted">Did you find a different price or want us to add a new drug or update an existing drug to search results? Please fill out this form and help make this platform better.</span>
              </div>
           </div>
           <div class='row'>
            <div class='col-md-12 mb-2'>
               <span class="text-danger">* Denotes Required Field</span>
            </div>
         </div>
            <div class='form-row'>
               <div class='form-group col-md-12'>
                  <label for='name'>Customer Name <span class="text-danger">*</span></label>
                  <input type='text' class='form-control' placeholder='Your Name' formControlName="name">
               </div>
               <div class="form-group text-danger" *ngIf="formTell.get('name').errors && (formTell.get('name').dirty || formTell.get('name').touched)">
                  <div *ngIf="formTell.get('name').hasError('required')">Field is required</div>
                  <div *ngIf="formTell.get('name').hasError('minlength')">Min of 3 characters</div>
                  <div *ngIf="formTell.get('name').hasError('pattern')">Format invalid, Must be A-Za-z </div>
              </div>
            </div>
            <div class='form-row'>
              <div class='form-group col-md-12'>
                 <label for='email'>Customer Email <span class="text-danger">*</span></label>
                 <input type='text' class='form-control' placeholder='Your Email' formControlName="email">
              </div>
              <div class="form-group text-danger" *ngIf="formTell.get('email').errors && (formTell.get('email').dirty || formTell.get('email').touched)">
                <div *ngIf="formTell.get('email').hasError('required')">Field is required</div>
                <div *ngIf="formTell.get('email').hasError('pattern')">Invalid Email</div>
            </div>
            </div>
            <!--<div class='form-row d-none'>
              <div class='form-group col-md-12'>
                 <label for='phone'>Customer Phone Number</label>
                 <input type='text' class='form-control' placeholder=''>
              </div>
            </div>-->
            <div class='form-row'>
               <div class='form-group col-md-12'>
                  <label for='reason'>Reason <span class="text-danger">*</span></label>
                  <select name="reason" id="reason" class="form-control" formControlName="reason" (change)="changeReason()">
                    <option value="">Select</option>
                    <option value="Submit Pricing">Submit Pricing</option>
                    <option value="Suggest New Drug">Suggest New Drug</option>
                    <option value="Suggest Edit">Suggest Edit</option>
                    <option value="Other">Other</option>
                  </select>
               </div>             
               <div class="form-group text-danger" *ngIf="formTell.get('reason').errors && (formTell.get('reason').dirty || formTell.get('reason').touched)">
                 <div *ngIf="formTell.get('reason').hasError('required')">Field is required</div>
               </div>
            </div>
            <div class='form-row' *ngIf="drugShow">
              <div class='form-group col-md-12'>
                 <label for='drug'>Drug Name & strength <span class="text-danger" *ngIf="drugRequired">*</span></label>
                 <input type='text' class='form-control' placeholder='Drug Name & Strength' formControlName="drug_name">
              </div>              
              <div class="form-group text-danger" *ngIf="formTell.get('drug_name').errors && (formTell.get('drug_name').dirty || formTell.get('drug_name').touched)">
                <div *ngIf="formTell.get('drug_name').hasError('required')">Field is required</div>
              </div>
            </div>
            <div class='form-row' *ngIf="qtyShow">
              <div class='form-group col-md-12'>
                 <label for='quantity'>Quantity <span class="text-danger" *ngIf="qtyRequired">*</span></label>
                 <input type='number' class='form-control' placeholder='50' formControlName="qty">
              </div>             
              <div class="form-group text-danger" *ngIf="formTell.get('qty').errors && (formTell.get('qty').dirty || formTell.get('qty').touched)">
                <div *ngIf="formTell.get('qty').hasError('required')">Field is required</div>
              </div>
            </div>
            <div class='form-row' *ngIf="priceShow">
              <div class='form-group col-md-12'>
                  <label for='price'>Price <span class="text-danger" *ngIf="priceRequired">*</span></label>
                  <input type='number' class='form-control' placeholder='20' formControlName="price">
              </div>            
              <div class="form-group text-danger" *ngIf="formTell.get('price').errors && (formTell.get('price').dirty || formTell.get('price').touched)">
                <div *ngIf="formTell.get('price').hasError('required')">Field is required</div>
              </div>
            </div>
            <div class='form-row' *ngIf="commentShow">
              <div class='form-group col-md-12'>
                  <label for='comments'>Comments <span class="text-danger" *ngIf="commentRequired">*</span></label>
                  <br>
                  <small class="text-muted">Please do not include any health identifiable information</small>
                  <textarea type='text' class='form-control' formControlName="comments"></textarea>
              </div>            
              <div class="form-group text-danger" *ngIf="formTell.get('comments').errors && (formTell.get('comments').dirty || formTell.get('comments').touched)">
                <div *ngIf="formTell.get('comments').hasError('required')">Field is required</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="formTell.invalid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>