/* You can add global styles to this file, and also import other style files */
.center-all-vertical{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.bg-sec{
    background-color: #eceef5;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover {
    color: #007bff !important;
}

.hero_home .content h3 {
    color: #fff !important;
}

 
.search_bar_list{ 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 7px 10px 10px 10px; 
    min-width: 40px;
    font-size: 20px; 
} 
.input-icon{
    padding-left: 40px !important;
}

.card {
    background-color: #ffffff;
    border: 1px solid rgba(0, 34, 51, 0.1);
    box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05);
    border-radius: 0.15rem;
}

/* Tabs Card */

.tab-card {
  border:1px solid #eee;
}

.tab-card-header {
  background:none;
}
/* Default mode */
.tab-card-header > .nav-tabs {
  border: none;
  margin: 0px;
}
.tab-card-header > .nav-tabs > li {
  margin-right: 2px;
}
.tab-card-header > .nav-tabs > li > a {
  border: 0;
  border-bottom:2px solid transparent;
  margin-right: 0;
  color: #737373;
  padding: 2px 15px;
}

.tab-card-header > .nav-tabs > li > a.show {
    border-bottom:2px solid #007bff;
    color: #007bff;
}
.tab-card-header > .nav-tabs > li > a:hover {
    color: #007bff;
}

.tab-card-header > .tab-content {
  padding-bottom: 0;
}

.booking .title {
  color: #fff;
  margin: -4px -30px 30px -30px;
}
 
.booking .title h3 {
  color: #fff !important;
}
 
.booking .title h5 {
  color: #fff !important;
}
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
