<app-header></app-header>
<app-form-search></app-form-search>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class='col-md-12 my-3'>
                    <span style="font-size: 20px;"><i class="icon-user"></i> My Account</span>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-md-12 ">
                    <div class="card pb-3">
                        <div class="card-body">
                            <div class='row'>
                                <div class='col-md-12'>
                                    <app-navadmin></app-navadmin>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-4 mt-3'>
                                    <div class="form-row">
                                        <div class="col-12">
                                            <input type="text" class="form-control" placeholder="Search by Pharmacy name or Medication name" title="Search by Pharmacy name or Medication name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-5'>
                                    &nbsp;
                                    <div class="form-group row">
                                        <label for="select" class="col-sm-4 col-form-label">Certificates</label>
                                        <div class="col-sm-8">
                                            <select (change)="filterCertificate()" [(ngModel)]="select" class="form-control" name="select" id="select">
                                            <option value="Active">Available</option>
                                            <option value="Redeemed">Redeemed</option>
                                            <option value="Credit Vouchers">Credit Vouchers</option>
                                            <option value="Expired">Expired</option>
                                            <option value="0">All</option>
                                          </select>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-1'>
                                    &nbsp;
                                </div>
                                <div class='col-md-6'>
                                    <div class="form-group row">
                                        <label for="select" class="col-sm-3 col-form-label pt-4">
                                          Sort By
                                        </label>
                                        <div class="col-sm-9 pt-1">
                                            <div>&nbsp;</div>
                                            <ul>
                                                <li><a href="javascript:void(0)">Expiration Date</a></li>
                                                <li class="active"><a href="javascript:void(0)">Purchase Date</a></li>
                                                <li><a href="javascript:void(0)">Merchant Name</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-12'>
                                    <hr class="mb-2">
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-12'>
                                    <div class='row'>
                                        <div class='col-md-3'>
                                            Date
                                        </div>
                                        <div class='col-md-3'>
                                            Pharmacy Name
                                        </div>
                                        <div class='col-md-2'>
                                            Medication Name
                                        </div>
                                        <div class='col-md-2'>
                                            Status
                                        </div>
                                        <div class='col-md-2'>
                                            Actions
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-md-12'>
                                            <hr class="mb-3">
                                        </div>
                                    </div>
                                    <div class='row list pt-2' *ngFor="let certificate of certificatesShow">
                                        <div class='col-md-3'>
                                            <div><span class="font-weight-bold">{{(certificate.status =='Expired' ? 'Expired': 'Expire')}} On:</span> {{certificate.expiredon | date:'MM/dd/yyyy'}}</div>
                                            <div><span class="font-weight-bold">Purchased:</span> {{certificate.orderon | date:'MM/dd/yyyy'}} </div>
                                            <div *ngIf="certificate.redeemon != 0"><span class="font-weight-bold">Redeemed On:</span> {{certificate.redeemon | date:'MM/dd/yyyy'}}</div>
                                        </div>
                                        <div class='col-md-3 font-weight-bold'>
                                            {{certificate.productinfo.pharmacy_name}}
                                        </div>
                                        <div class='col-md-2 text-primary'>
                                            {{certificate.productinfo.drugname | uppercase}}
                                        </div>
                                        <div class='col-md-2'>
                                            <div [ngSwitch]="certificate.status">
                                                <div *ngSwitchCase="'Active'">Avalilable</div>
                                                <div *ngSwitchCase="'Redeemed'">Redeemed</div>
                                                <div *ngSwitchCase="'Expired'">Expired</div>
                                                <div *ngSwitchDefault>Refounded</div>
                                            </div>
                                        </div>
                                        <div class='col-md-2'>
                                            <button class="btn btn-success btn-block btn-sm" (click)="getCertificate(certificate.orderdet_id)">View Details</button>
                                            <a href="javascript:void(0)" (click)="buyCoupon(certificate.productinfo)">Buy it Again!</a>
                                            <br>
                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#modalAddReview" (click)="getReset(certificate.orderdet_id)">Write a Review!</a>
                                        </div>
                                        <div class='col-md-12'>
                                            <hr class="mb-1">
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /content-left-->
    </div>
    <!-- /row-->
</div>

<!-- /container-fluid -->

<app-add-reviews [reset]="reset" [orderdet_id]="orderdet_id" [user_id]="idUser"></app-add-reviews>