ul, ol {
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0;
}
 ul li {
    display: inline-block;
    margin-right: 5px;
    font-weight: 500;
}

ul li a {
    color:#999;
}

ul li:after {
    content: '|';
    font-weight: 400;
    margin-left: 8px;
    color: #ccc;
}

ul li:last-child:after {
    content: '';
    font-weight: 400;
    margin-left: 8px;
    color: #ccc;
}

ul .active a {
    color: #e74e84;
}

.list:hover{
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.35);
}
