<app-header></app-header>
<app-form-search></app-form-search>
<main>
    <div class="container margin_60">
        <div class='row'>
            <div class='col-md-12 mb-2'>
                <a class="btn btn-outline-secondary" href="javascript:window.history.back(0)"><i class="icon-left-open"></i> Return to My Certificates</a>
            </div>
        </div>
        <div class="row" *ngFor="let cert of certificate">
            <div class="col-xl-8 col-lg-8">
                <nav id="secondary_nav">
                    <div class="container">
                        <ul class="clearfix">
                            <li><a href="javascript:void(0)" class="active">{{cert.productinfo.drugname | uppercase}} {{cert.productinfo.dosage}} {{cert.productinfo.strength}}</a></li>
                            <li><a href="javascript:void(0)">&nbsp;</a></li>
                            <li><a href="javascript:void(0)">&nbsp;</a></li>
                        </ul>
                    </div>
                </nav>
                <div id="section_1">
                    <div class="box_general_3">
                        <div class="profile">
                            <div class="row">
                                <div class="col-lg-4 col-md-3">
                                    <figure>
                                        <img src="http://via.placeholder.com/565x565.jpg" alt="" class="img-fluid">
                                    </figure>
                                    <button class="btn btn-outline-success btn-block" (click)="buyCoupon(cert.productinfo)">Buy it Again!</button>
                                    <button class="btn btn-outline-success btn-block">Get Refund</button>
                                    <button class="btn btn-outline-success btn-block">Report a Problem</button>
                                    <button class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#modalAddReview" (click)="getReset()">Leave a Review</button>
                                </div>
                                <div class="col-lg-8 col-md-9">
                                    <div class="tabs_styled_2">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="book-tab" data-toggle="tab" href="#redeem" role="tab" aria-controls="book" (click)="getHow(true)">How to Redeem</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#order-details" role="tab" aria-controls="reviews" (click)="getHow(false)">Order Details</a>
                                            </li>
                                        </ul>
                                        <!--/nav-tabs -->

                                        <div class="tab-content">

                                            <div class="tab-pane fade show active px-2 py-3" id="redeem" role="tabpanel" aria-labelledby="book-tab">
                                                <div class='row'>
                                                    <div class='col-md-12'>
                                                        <div class="card">
                                                            <div class="card-body pb-3 alert-warning">
                                                                <i class="icon-check text-success"></i> <strong>Ready to Redeem</strong> - Follow the instructions below
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-md-12 mt-2'>
                                                        <div class='row'>
                                                            <div class='col-md-4'>
                                                                Certificate Value:
                                                            </div>
                                                            <div class='col-md-8'>
                                                                ${{cert.amount}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-md-12 mt-2'>
                                                        <div class='row'>
                                                            <div class='col-md-4'>
                                                                Expires on:
                                                            </div>
                                                            <div class='col-md-8'>
                                                                {{cert.expiredon | date: 'MM/dd/yyyy'}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-md-12 mt-2'>
                                                        <div class='row'>
                                                            <div class='col-md-4'>
                                                                Details:
                                                            </div>
                                                            <div class='col-md-8'>
                                                                {{cert.productinfo.drugname | uppercase}} {{cert.productinfo.dosage}} {{cert.productinfo.strength}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-md-12 mt-3'>
                                                        <button class="btn btn-success btn-block">View Certificate</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /tab_1 -->

                                            <div class="tab-pane fade px-2 py-3" id="order-details" role="tabpanel" aria-labelledby="reviews-tab">
                                                <div class="reviews-container">
                                                    <div class='row'>
                                                        <div class='col-md-12'>
                                                            <div class='row'>
                                                                <div class='col-md-12'>
                                                                    <div class="card">
                                                                        <div class="card-body pb-3 alert-success">
                                                                            <i class="icon-check"></i> <strong>Ready on Monday</strong>, November 29th 2020
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class='col-md-12 mt-2'>
                                                                    <div class='row'>
                                                                        <div class='col-md-4'>
                                                                            Certificate ID:
                                                                        </div>
                                                                        <div class='col-md-8'>
                                                                            {{cert.cert_no}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class='col-md-12 mt-2'>
                                                                    <div class='row'>
                                                                        <div class='col-md-4'>
                                                                            Purchase Date:
                                                                        </div>
                                                                        <div class='col-md-8'>
                                                                            {{cert.orderon | date:'MM/dd/yyyy'}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class='col-md-12 mt-2'>
                                                                    <div class='row'>
                                                                        <div class='col-md-4'>
                                                                            Expiration Date:
                                                                        </div>
                                                                        <div class='col-md-8'>
                                                                            {{cert.expiredon | date:'MM/dd/yyyy'}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class='col-md-12 mt-2' *ngIf="cert.redeemon > 0">
                                                                    <div class='row'>
                                                                        <div class='col-md-4'>
                                                                            Redeemed Date:
                                                                        </div>
                                                                        <div class='col-md-8'>
                                                                            {{cert.redeemon | date:'MM/dd/yyyy'}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class='col-md-12 mt-2'>
                                                                    <div class='row'>
                                                                        <div class='col-md-4'>
                                                                            Item Description:
                                                                        </div>
                                                                        <div class='col-md-8'>
                                                                            {{cert.productinfo.drugname | uppercase}} {{cert.productinfo.dosage}} {{cert.productinfo.strength}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class='col-md-12 mt-2'>
                                                                    <div class='row'>
                                                                        <div class='col-md-4'>
                                                                            Quantity:
                                                                        </div>
                                                                        <div class='col-md-8'>
                                                                            {{cert.productinfo.qty}}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class='col-md-12 mt-2'>
                                                                    <div class='row'>
                                                                        <div class='col-md-4'>
                                                                            Price:
                                                                        </div>
                                                                        <div class='col-md-8'>
                                                                            ${{cert.productinfo.price}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='row my-3'>
                                                        <div class='col-md-12'>
                                                            <div class="card pb-3">
                                                                <div class="card-body" *ngIf="cert.coins == 0">
                                                                    <div class='row'>
                                                                        <div class='col-md-6'>
                                                                            Visa ending in ***-4970:
                                                                        </div>
                                                                        <div class='col-md-6 text-right'>
                                                                            $29.00
                                                                        </div>
                                                                    </div>
                                                                    <div class='row mt-2'>
                                                                        <div class='col-md-6 font-weight-bold'>
                                                                            Total:
                                                                        </div>
                                                                        <div class='col-md-6 text-right font-weight-bold'>
                                                                            $29.00
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body" *ngIf="cert.coins > 0">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            MyRxPal Coins
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            Total:
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            ${{cert.amount}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--<div class="row">
                                                        <div class="col-md-12 mt-4 mb-3">
                                                            <p class="mb-2 font-weight-bold">Pay with card</p>
                                                            <form>
                                                                <div class="form-group">
                                                                    <label for="exampleInputEmail1">Email address</label>
                                                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                                                </div>
                                                                <div class="mb-2">Card Infomation</div>
                                                                <div class="input-group mb-3">
                                                                    <input type="text" class="form-control" placeholder="1234 1234 1234 1234" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text" id="basic-addon2">
                                                                            <img class="mr-1" src="https://js.stripe.com/v3/fingerprinted/img/mastercard-4d8844094130711885b5e41b28c9848f.svg">
                                                                            <img src="https://js.stripe.com/v3/fingerprinted/img/visa-365725566f9578a9589553aa9296d178.svg">
                                                                        </span>
                                                                    </div>
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" placeholder="MM / AA" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                                        <div class="input-group-append">
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" placeholder="CVC" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                                                </div>
                                                                        </div>
                                                                        </div>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                    <label for="name">Name on card</label>
                                                                    <input type="text" class="form-control" id="name" aria-describedby="name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="region">Country or region</label>
                                                                    <select id="country" name="country" class="form-control">
                                                                            <option value="Afghanistan">Afghanistan</option>
                                                                            <option value="Åland Islands">Åland Islands</option>
                                                                            <option value="Albania">Albania</option>
                                                                            <option value="Algeria">Algeria</option>
                                                                            <option value="American Samoa">American Samoa</option>
                                                                            <option value="Andorra">Andorra</option>
                                                                            <option value="Angola">Angola</option>
                                                                            <option value="Anguilla">Anguilla</option>
                                                                            <option value="Antarctica">Antarctica</option>
                                                                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                                                            <option value="Argentina">Argentina</option>
                                                                            <option value="Armenia">Armenia</option>
                                                                            <option value="Aruba">Aruba</option>
                                                                            <option value="Australia">Australia</option>
                                                                            <option value="Austria">Austria</option>
                                                                            <option value="Azerbaijan">Azerbaijan</option>
                                                                            <option value="Bahamas">Bahamas</option>
                                                                            <option value="Bahrain">Bahrain</option>
                                                                            <option value="Bangladesh">Bangladesh</option>
                                                                            <option value="Barbados">Barbados</option>
                                                                            <option value="Belarus">Belarus</option>
                                                                            <option value="Belgium">Belgium</option>
                                                                            <option value="Belize">Belize</option>
                                                                            <option value="Benin">Benin</option>
                                                                            <option value="Bermuda">Bermuda</option>
                                                                            <option value="Bhutan">Bhutan</option>
                                                                            <option value="Bolivia">Bolivia</option>
                                                                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                                                            <option value="Botswana">Botswana</option>
                                                                            <option value="Bouvet Island">Bouvet Island</option>
                                                                            <option value="Brazil">Brazil</option>
                                                                            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                                                            <option value="Brunei Darussalam">Brunei Darussalam</option>
                                                                            <option value="Bulgaria">Bulgaria</option>
                                                                            <option value="Burkina Faso">Burkina Faso</option>
                                                                            <option value="Burundi">Burundi</option>
                                                                            <option value="Cambodia">Cambodia</option>
                                                                            <option value="Cameroon">Cameroon</option>
                                                                            <option value="Canada">Canada</option>
                                                                            <option value="Cape Verde">Cape Verde</option>
                                                                            <option value="Cayman Islands">Cayman Islands</option>
                                                                            <option value="Central African Republic">Central African Republic</option>
                                                                            <option value="Chad">Chad</option>
                                                                            <option value="Chile">Chile</option>
                                                                            <option value="China">China</option>
                                                                            <option value="Christmas Island">Christmas Island</option>
                                                                            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                                                            <option value="Colombia">Colombia</option>
                                                                            <option value="Comoros">Comoros</option>
                                                                            <option value="Congo">Congo</option>
                                                                            <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                                                                            <option value="Cook Islands">Cook Islands</option>
                                                                            <option value="Costa Rica">Costa Rica</option>
                                                                            <option value="Cote D'ivoire">Cote D'ivoire</option>
                                                                            <option value="Croatia">Croatia</option>
                                                                            <option value="Cuba">Cuba</option>
                                                                            <option value="Cyprus">Cyprus</option>
                                                                            <option value="Czech Republic">Czech Republic</option>
                                                                            <option value="Denmark">Denmark</option>
                                                                            <option value="Djibouti">Djibouti</option>
                                                                            <option value="Dominica">Dominica</option>
                                                                            <option value="Dominican Republic">Dominican Republic</option>
                                                                            <option value="Ecuador">Ecuador</option>
                                                                            <option value="Egypt">Egypt</option>
                                                                            <option value="El Salvador">El Salvador</option>
                                                                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                                            <option value="Eritrea">Eritrea</option>
                                                                            <option value="Estonia">Estonia</option>
                                                                            <option value="Ethiopia">Ethiopia</option>
                                                                            <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                                                            <option value="Faroe Islands">Faroe Islands</option>
                                                                            <option value="Fiji">Fiji</option>
                                                                            <option value="Finland">Finland</option>
                                                                            <option value="France">France</option>
                                                                            <option value="French Guiana">French Guiana</option>
                                                                            <option value="French Polynesia">French Polynesia</option>
                                                                            <option value="French Southern Territories">French Southern Territories</option>
                                                                            <option value="Gabon">Gabon</option>
                                                                            <option value="Gambia">Gambia</option>
                                                                            <option value="Georgia">Georgia</option>
                                                                            <option value="Germany">Germany</option>
                                                                            <option value="Ghana">Ghana</option>
                                                                            <option value="Gibraltar">Gibraltar</option>
                                                                            <option value="Greece">Greece</option>
                                                                            <option value="Greenland">Greenland</option>
                                                                            <option value="Grenada">Grenada</option>
                                                                            <option value="Guadeloupe">Guadeloupe</option>
                                                                            <option value="Guam">Guam</option>
                                                                            <option value="Guatemala">Guatemala</option>
                                                                            <option value="Guernsey">Guernsey</option>
                                                                            <option value="Guinea">Guinea</option>
                                                                            <option value="Guinea-bissau">Guinea-bissau</option>
                                                                            <option value="Guyana">Guyana</option>
                                                                            <option value="Haiti">Haiti</option>
                                                                            <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                                                                            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                                                                            <option value="Honduras">Honduras</option>
                                                                            <option value="Hong Kong">Hong Kong</option>
                                                                            <option value="Hungary">Hungary</option>
                                                                            <option value="Iceland">Iceland</option>
                                                                            <option value="India">India</option>
                                                                            <option value="Indonesia">Indonesia</option>
                                                                            <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                                                                            <option value="Iraq">Iraq</option>
                                                                            <option value="Ireland">Ireland</option>
                                                                            <option value="Isle of Man">Isle of Man</option>
                                                                            <option value="Israel">Israel</option>
                                                                            <option value="Italy">Italy</option>
                                                                            <option value="Jamaica">Jamaica</option>
                                                                            <option value="Japan">Japan</option>
                                                                            <option value="Jersey">Jersey</option>
                                                                            <option value="Jordan">Jordan</option>
                                                                            <option value="Kazakhstan">Kazakhstan</option>
                                                                            <option value="Kenya">Kenya</option>
                                                                            <option value="Kiribati">Kiribati</option>
                                                                            <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                                                                            <option value="Korea, Republic of">Korea, Republic of</option>
                                                                            <option value="Kuwait">Kuwait</option>
                                                                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                                            <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                                                                            <option value="Latvia">Latvia</option>
                                                                            <option value="Lebanon">Lebanon</option>
                                                                            <option value="Lesotho">Lesotho</option>
                                                                            <option value="Liberia">Liberia</option>
                                                                            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                                                            <option value="Liechtenstein">Liechtenstein</option>
                                                                            <option value="Lithuania">Lithuania</option>
                                                                            <option value="Luxembourg">Luxembourg</option>
                                                                            <option value="Macao">Macao</option>
                                                                            <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                                                                            <option value="Madagascar">Madagascar</option>
                                                                            <option value="Malawi">Malawi</option>
                                                                            <option value="Malaysia">Malaysia</option>
                                                                            <option value="Maldives">Maldives</option>
                                                                            <option value="Mali">Mali</option>
                                                                            <option value="Malta">Malta</option>
                                                                            <option value="Marshall Islands">Marshall Islands</option>
                                                                            <option value="Martinique">Martinique</option>
                                                                            <option value="Mauritania">Mauritania</option>
                                                                            <option value="Mauritius">Mauritius</option>
                                                                            <option value="Mayotte">Mayotte</option>
                                                                            <option value="Mexico">Mexico</option>
                                                                            <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                                                            <option value="Moldova, Republic of">Moldova, Republic of</option>
                                                                            <option value="Monaco">Monaco</option>
                                                                            <option value="Mongolia">Mongolia</option>
                                                                            <option value="Montenegro">Montenegro</option>
                                                                            <option value="Montserrat">Montserrat</option>
                                                                            <option value="Morocco">Morocco</option>
                                                                            <option value="Mozambique">Mozambique</option>
                                                                            <option value="Myanmar">Myanmar</option>
                                                                            <option value="Namibia">Namibia</option>
                                                                            <option value="Nauru">Nauru</option>
                                                                            <option value="Nepal">Nepal</option>
                                                                            <option value="Netherlands">Netherlands</option>
                                                                            <option value="Netherlands Antilles">Netherlands Antilles</option>
                                                                            <option value="New Caledonia">New Caledonia</option>
                                                                            <option value="New Zealand">New Zealand</option>
                                                                            <option value="Nicaragua">Nicaragua</option>
                                                                            <option value="Niger">Niger</option>
                                                                            <option value="Nigeria">Nigeria</option>
                                                                            <option value="Niue">Niue</option>
                                                                            <option value="Norfolk Island">Norfolk Island</option>
                                                                            <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                                                            <option value="Norway">Norway</option>
                                                                            <option value="Oman">Oman</option>
                                                                            <option value="Pakistan">Pakistan</option>
                                                                            <option value="Palau">Palau</option>
                                                                            <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                                                                            <option value="Panama">Panama</option>
                                                                            <option value="Papua New Guinea">Papua New Guinea</option>
                                                                            <option value="Paraguay">Paraguay</option>
                                                                            <option value="Peru">Peru</option>
                                                                            <option value="Philippines">Philippines</option>
                                                                            <option value="Pitcairn">Pitcairn</option>
                                                                            <option value="Poland">Poland</option>
                                                                            <option value="Portugal">Portugal</option>
                                                                            <option value="Puerto Rico">Puerto Rico</option>
                                                                            <option value="Qatar">Qatar</option>
                                                                            <option value="Reunion">Reunion</option>
                                                                            <option value="Romania">Romania</option>
                                                                            <option value="Russian Federation">Russian Federation</option>
                                                                            <option value="Rwanda">Rwanda</option>
                                                                            <option value="Saint Helena">Saint Helena</option>
                                                                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                                                            <option value="Saint Lucia">Saint Lucia</option>
                                                                            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                                                            <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                                                                            <option value="Samoa">Samoa</option>
                                                                            <option value="San Marino">San Marino</option>
                                                                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                                                            <option value="Saudi Arabia">Saudi Arabia</option>
                                                                            <option value="Senegal">Senegal</option>
                                                                            <option value="Serbia">Serbia</option>
                                                                            <option value="Seychelles">Seychelles</option>
                                                                            <option value="Sierra Leone">Sierra Leone</option>
                                                                            <option value="Singapore">Singapore</option>
                                                                            <option value="Slovakia">Slovakia</option>
                                                                            <option value="Slovenia">Slovenia</option>
                                                                            <option value="Solomon Islands">Solomon Islands</option>
                                                                            <option value="Somalia">Somalia</option>
                                                                            <option value="South Africa">South Africa</option>
                                                                            <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                                                                            <option value="Spain">Spain</option>
                                                                            <option value="Sri Lanka">Sri Lanka</option>
                                                                            <option value="Sudan">Sudan</option>
                                                                            <option value="Suriname">Suriname</option>
                                                                            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                                                            <option value="Swaziland">Swaziland</option>
                                                                            <option value="Sweden">Sweden</option>
                                                                            <option value="Switzerland">Switzerland</option>
                                                                            <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                                                            <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                                                                            <option value="Tajikistan">Tajikistan</option>
                                                                            <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                                                            <option value="Thailand">Thailand</option>
                                                                            <option value="Timor-leste">Timor-leste</option>
                                                                            <option value="Togo">Togo</option>
                                                                            <option value="Tokelau">Tokelau</option>
                                                                            <option value="Tonga">Tonga</option>
                                                                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                                                            <option value="Tunisia">Tunisia</option>
                                                                            <option value="Turkey">Turkey</option>
                                                                            <option value="Turkmenistan">Turkmenistan</option>
                                                                            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                                                            <option value="Tuvalu">Tuvalu</option>
                                                                            <option value="Uganda">Uganda</option>
                                                                            <option value="Ukraine">Ukraine</option>
                                                                            <option value="United Arab Emirates">United Arab Emirates</option>
                                                                            <option value="United Kingdom">United Kingdom</option>
                                                                            <option value="United States" selected>United States</option>
                                                                            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                                                            <option value="Uruguay">Uruguay</option>
                                                                            <option value="Uzbekistan">Uzbekistan</option>
                                                                            <option value="Vanuatu">Vanuatu</option>
                                                                            <option value="Venezuela">Venezuela</option>
                                                                            <option value="Viet Nam">Viet Nam</option>
                                                                            <option value="Virgin Islands, British">Virgin Islands, British</option>
                                                                            <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                                                            <option value="Wallis and Futuna">Wallis and Futuna</option>
                                                                            <option value="Western Sahara">Western Sahara</option>
                                                                            <option value="Yemen">Yemen</option>
                                                                            <option value="Zambia">Zambia</option>
                                                                            <option value="Zimbabwe">Zimbabwe</option>
                                                                        </select>
                                                                </div>
                                                                <button class="btn btn-dark btn-block btn-sm"> PAY $29.00</button>                    
                                                            </form>
                                                        </div>
                                                    </div>-->

                                                    <div class="row">
                                                        <div class='col-md-12'>
                                                            <a href="javascript:void(0)">Print Certificate</a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- End review-container -->
                                            </div>
                                            <!-- /tab_3 -->
                                        </div>
                                        <!-- /tab-content -->
                                    </div>
                                    <!-- /tabs_styled -->
                                </div>
                            </div>
                        </div>

                        <hr *ngIf="howShow">

                        <!-- /profile -->
                        <div class="indent_title_in" *ngIf="howShow">
                            <i class="icon-info-circled-alt"></i>
                            <p class="mb-0 pb-0" style="line-height: 15px;">&nbsp;</p>
                            <h3>How to use</h3>
                        </div>
                        <div class="wrapper_indent" *ngIf="howShow">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="bullets">
                                        <li>Pull up voucher by clicking View Certificate link above (or <a href="javascript:void(0)">print it out</a>)</li>
                                        <li>Present voucher upon arrival</li>
                                        <li>Enjoy!</li>
                                    </ul>
                                </div>

                            </div>
                            <!-- /row-->
                        </div>
                        <!-- /wrapper indent -->
                    </div>
                    <!-- /section_1 -->
                </div>
                <!-- /box_general -->
            </div>
            <!-- /col -->
            <aside class="col-xl-4 col-lg-4" id="sidebar">
                <div class="box_general_3 booking">
                    <div class="title">
                        <h5>Pharmacy Details</h5>
                        <!--<small>Monday to Friday 09.00am-06.00pm</small>-->
                    </div>
                    <div class='row'>
                        <div class='col-md-4'>
                            Pharamcy Name:
                        </div>
                        <div class='col-md-8 font-weight-bold'>
                            {{cert.productinfo.pharmacy_name}}
                        </div>
                    </div>
                    <div class='row mt-2'>
                        <div class='col-md-4'>
                            Address:
                        </div>
                        <div class='col-md-8 font-weight-bold'>
                            {{cert.productinfo.pharmacy_address}}
                            <br>
                            <!--  <small class="text-muted"><a href="https://maps.google.com/?q=39.1955041,-76.7228227" target="_blank">get directions</a></small> -->
                        </div>
                    </div>
                    <div class='row mt-2'>
                        <div class='col-md-4'>
                            Phone:
                        </div>
                        <div class='col-md-8 font-weight-bold'>
                            {{cert.productinfo.pharmacy_tel}}
                        </div>
                    </div>
                    <div class='row  mt-2 d-none'>
                        <div class='col-md-12'>
                            Business Hours:
                            <div class='row pl-3 mt-1'>
                                <div class='col-md-12 mt1'>
                                    Mon 09:00 - 12:00
                                </div>
                                <div class='col-md-12 mt-1'>
                                    Thu 09:00 - 15:00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /box_general -->
            </aside>
            <!-- /asdide -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!-- /main -->
<app-add-reviews [reset]="reset" [orderdet_id]="orderdet_id" [user_id]="user_id"></app-add-reviews>