.autocomplete {
    position: absolute;
    left: 15px;
    top:55px;
    background-color: #fff;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
    width: 35.5%;
    display: block;
    max-height: 122px;
    overflow-y: scroll;
    text-align: justify;
    color: #000;
    padding-left: 5px;
    border-radius: 3px;
    z-index: 9999999999999999999999;
}

@media (max-width: 575px) {
    .autocomplete {
      /* For less than 575px */
      padding-left: 15px;
    }
  }

  @media (min-width: 1500px) {
    .autocomplete {
      /* For less than 991px*/ 
      width: 50%;
    }
  }

