<div class="row autocomplete" id="autocomplete" [style.display]="(data.length>0?'block':'none')">
    <div class='col-md-12 px-0'>
        <app-option [data]="data" (item)="getItem($event)"></app-option>
    </div>
</div>